[2018-08-28 13:18] monroews opened #89 "svn to git migration of Mathcad code"
I had assumed we wouldn't need to keep the Mathcad code available with the transition to python, but there is a current need to be able to update designs and thus we need to keep Mathcad code available. We also need the ability to select particular version numbers for revision and thus we need to port the entire mathcad code base to github.

[Directions for doing this are here.](https://confluence

[2018-08-28 14:14] eak24 commented on #89
@oliver-leung and @juanchon998 already have a [git repo of MathCAD](https://github.com/AguaClara/mathcad_Final_Designs)

[2018-08-28 14:29] eak24 commented on #89
Am I right in assuming there should be a repo for each of these projects?:

![screen shot 2018-08-28 at 10 28 34](https://user-images.githubusercontent.com/8585379/44729661-4b0ce300-aaad-11e8-9e6c-ab22cabad45c.png)

[2018-08-28 14:30] eak24 commented on #89
Thanks for reopening Juan, Monroe and I just discussed that the repo that had been created didn't have past versions. I can take this on right now.

[2018-08-28 14:34] juanchon998 commented on #89
Thank you! I was typing out a comment but got distracted as everyone in the office wanted to try some mate. I would really appreciate a git-based way to access previous versions of the design code! In particular I need to access version 6807 for the Las Moras design.

[2018-08-28 14:35] monroews commented on #89
I think the only repo that is needed is the Automated Design. I think the others are all many years old and no longer needed.

[2018-08-28 15:12] eak24 commented on #89
My computer is on revision 2107... This makes me realize just how long we've been iterating on our MathCAD code. Hats off to Monroe for keeping this system going for 7k+ iterations... NumPy is at 18k commits, so we're within a factor of 3!

[2018-08-28 17:59] eak24 commented on #89
This is a bit more challenging than anticipated. GitHub doesn't like large files, yet over the years in svn we've had a ton of large files. So, GitHub is throwing an error when I try to upload the repo. I downloaded git lfs (large file system) to take care of this issue, but the error kept rearing its head. [I've turned to stackoverflow for suggestions.](https://stackoverflow.com/questions/5206359

[2018-08-31 12:12] monroews opened #90 "error on running aguaclara.play import*"
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
C:\Users\mw24\Anaconda3\lib\site-packages\pint\registry.py in load_definitions(self, file, is_resource)
    359                 else:
--> 360                     with open(file, encoding='utf-8') as fp:
    361                         return self.l

[2018-08-31 14:03] eak24 commented on #90
This should be fixed in 0.0.14. The issue was just that the data files weren't specified to be included in the package distribution. Please upgrade with `pip install aguaclara -U`

[2018-08-31 14:03] #90 closed, assigned to eak24

[2018-09-04 11:53] monroews opened #91 "Where did cdc_functions.py, physchem.py, etc. go?"
A bunch of the code that was in aide_design seems to be completely gone. I've searched the whole AguaClara site and can't find it. This has resulted in several broken links in the textbook. @ethan92429

[2018-09-04 13:56] eak24 commented on #91
According to our plan, as dictated [here](https://github.com/orgs/AguaClara/teams/aguaclara-code) we have made a transition to a single "aguaClara" repository. physchem is in core, cdc_functions is in aguaclara. All research is in research folder, and all design functions are in the process of being migrated to the design subfolder. You can see all the filename changes I made [here](https://github

[2018-09-04 14:02] eak24 commented on #91
https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/physchem.py

[2018-09-04 14:38] #91 closed, assigned to nobody

[2018-09-05 16:29] eak24 commented on #89
This is finally done! After waiting at some points 3-4 hours for the computer to do parts of the migration effort... [Here is the final repo with an instructional README.](https://github.com/AguaClara/mathcad)

[2018-09-05 16:29] #89 closed, assigned to eak24

[2018-10-01 19:17] monroews opened #92 "from aguaclara.play import* gives an error"
This seems to be an error in file path. See error below.
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
C:\Users\mw24\Anaconda3\lib\site-packages\pint\registry.py in load_definitions(self, file, is_resource)
    359                 else:
--> 360                     with open(file, encoding='utf

[2018-10-01 21:58] eak24 commented on #92
The problem is here and only happens on windows:
https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/units.py#L53

We need to use code that looks something like this
<https://pypi.org/project/path.py/>

Pay special attention to this line - this will make an os-agnostic path (it
will work with windows OR mac). Don't mess around manually with "\" v. "/"
and let me know if you need more

[2018-10-03 21:53] HannahSi commented on #92
@ethan92429
Hi Ethan, I ran the import on a Mac and still get the following errors.
For the onshapepy import, would it be possible to disable that line temporarily? I'm hoping to make a release this week with graphing code for research teams to use.

**Error on matplotlib.use('agg')**
`/anaconda3/lib/python3.6/site-packages/aguaclara/play.py:26: UserWarning:
This call to matplotlib.use() has no ef

[2018-10-11 06:02] oliver-leung opened #94 "Improve drill.py's data storage method"
`aguaclara/core/drill.py` is supposed to store lists of standard drill bit diameters in imperial and metric units, which are used in the construction of plant components. However, the way in which it was previously implemented had room for improvement.

**TODO: Rewrite the way in which `drill.py` stores drill bit diameters.**

## Setup

Make a new branch off of `master` called `<your NetID>/drill`

[2018-10-11 14:50] monroews opened #95 "Kozeny equation is WRONG"
This function is in phys chem.

It incorrectly refers to PipeRough. That is wrong and is because I used epsilon for pipe roughness and for porosity in my notes. Replace PipeRough with Porosity in the equation below! To clarify, it just requires a change in the name of the variable.

@u.wraps(u.m, [u.m, u.m, u.m/u.s, u.m, u.m**2/u.s], False)
def headloss_kozeny(Length, Diam, Vel, PipeRough, Nu):

[2018-10-11 17:21] oliver-leung opened #96 "Pipe and Pipeline design code"
Currently, `aguaclara/core/pipes.py` accesses the pipe data in `data/pipe_database.csv` to calculate inner and outer diameters of pipes. Due to our transition to an object-oriented framework, this should be done with a class and instantiated objects, rather than functions.

**TODO: Rewrite `pipes.py` so it accesses pipe information through instantiated `Pipe` objects.**

## Setup

Make a new branc

[2018-10-13 19:29] #94 closed, assigned to aaronyaosmith

[2018-10-15 01:58] HannahSi commented on #95
The function has been corrected in branch "graphing" (which will become release 0.0.15).

[code]

[2018-10-15 01:58] #95 closed, assigned to HannahSi

[2018-10-15 05:23] HannahSi opened #99 "Many Tests Failing"
Many tests from `design` and `core` are failing during the Travis build (build [#321](https://travis-ci.org/AguaClara/aguaclara/builds/441473844))

In the `graphing` branch, which has everything in `master` and more, I fixed the errors caused by a misnaming of the K_KOZENY variable and incorrect import statements, but now many more errors have surfaced involving actual assert statements. Here's th

[2018-10-15 13:05] eak24 commented on #99
Hey Hannah! Definitely fix the errors. It's probably just that something is
misnamed and thus throwing attribution errors or something like that. We're
stepping backwards if we release a half working library.

On Mon, Oct 15, 2018, 01:23 Hannah Si <notifications@github.com> wrote:

[2018-10-15 13:08] eak24 commented on #99
I also see we're missing q all over the place... Unclear on how that
happened. We don't want to sidestep tests.

On Mon, Oct 15, 2018, 09:04 Ethan Keller <ethan.keller@gmail.com> wrote:

[2018-10-15 16:01] HannahSi commented on #99
Thanks Ethan! I'd also like this release to fully pass its tests.

@oliver-leung Could the AIDE team see to resolving these errors?

[2018-10-15 16:03] oliver-leung commented on #99
@HannahSi We'll take a look into it! Not sure how the tests failed, we simply renamed `flow` to `q` in some instances to conform to the naming conventions. It strangely says that the function call is missing `q` as a positional argument, even though it's called in the tests.

[2018-10-15 17:24] HannahSi opened #100 "Meeting between AIDE and Research IT"
Would the AIDE design team be able to schedule a meeting with Research IT this week to discuss programming flow within a shared repository?

Our (Research IT's) lab times are Monday 3-5pm (though today won't work), and Friday and Saturday 3:30-5:30 pm. I will also be in the lab Wednesday 3-5pm.

Feel free to assign the rest of the AIDE Design members, I wasn't sure who they are.

[2018-10-15 20:10] fletchapin commented on #99
@HannahSi @oliver-leung I’ll take a look when I get time later this week as well

[2018-10-16 03:42] fletchapin commented on #92
@monroews @HannahSi Just getting to this now since I've been busy but I'll take a look this week when I look at the failing tests

[2018-10-16 04:32] fletchapin commented on #92
Just changed the path on the graphing branch

[2018-10-16 04:38] HannahSi commented on #92
No worries Fletcher, they're actually all close to being resolved now in one way or another:

- For the error with Windows not recognizing the directory "...aguaclara\core\data/unit_definitions.txt", I replaced `unit_registry.load_definitions(os.path.join(os.path.dirname(__file__), "data/unit_definitions.txt"))` with
    `unit_registry.load_definitions(os.path.dirname(__file__) / "data" / "unit_de

[2018-10-16 04:41] HannahSi commented on #92
@fletchapin Wait, I'm sorry my message came a little late. I believe you changed the fix back to the original code!

[2018-10-16 04:42] fletchapin commented on #92
I changed it by splitting up "data" and "units_definition.txt" so it will produce the correct path for Windows because what you had `unit_registry.load_definitions(os.path.dirname(__file__)` / "data" /` did remove the import error but it led to an error when I tried to call the `set_sig_fig` function directly

[2018-10-16 04:43] fletchapin commented on #92
So instead of `unit_registry.load_definitions(os.path.join(os.path.dirname(__file__), "data/unit_definitions.txt"))` it's now `unit_registry.load_definitions(os.path.join(os.path.dirname(__file__), "data", "unit_definitions.txt"))`

[2018-10-16 04:44] HannahSi commented on #92
I see, that makes sense. Thank you for catching that and fixing it.

[2018-10-16 04:46] #92 closed, assigned to fletchapin, HannahSi

[2018-10-16 07:06] fletchapin commented on #99
So after a few hours I finally figured out that the tests are failing because of the `@ut.list_handler` wrapper. I've created a new branch where I removed some of `@ut.list_handler` called `fletch/fix_tests`. However, I'm not sure why `@ut.list_handler` causes tests to fail

@ethan92429 does the `@ut.list_handler` require the function to have an additional argument for some reason? These are the r

[2018-10-16 18:30] oliver-leung commented on #100
I can meet with you tomorrow at 3pm, does that work?

[2018-10-16 18:42] HannahSi commented on #100
Yes, that works. Thanks for taking the time to meet!

[2018-10-16 19:42] oliver-leung commented on #99
I've fixed the attribute errors that @fletchapin started on `fletch/fix_tests`, but `head_loss.py` still claims that it's missing `q` as a positional argument. I renamed it from `flow` to `q` to conform to naming conventions - could that possibly have caused it?

[2018-10-16 20:06] fletchapin commented on #100
Could you guys post a summary of the meeting here so I can review it before I meet with Design Thursday?

[2018-10-16 20:14] fletchapin commented on #99
@oliver-leung  is there a @ut.list_handler wrapper? As I mentioned above the wrapper was leading to a bunch of positional argument exceptions (I'm not sure exactly why though, perhaps @ethan92429 would have a better idea)

[2018-10-16 20:17] oliver-leung commented on #99
All of the tests use `@ut.list_handler`, but strangely, the only thing in common between the two tests that do pass is that they're both calls to `k_value_orifice(pipe_id, orifice_id, orifice_l, q)` with `orifice_l == 0`.

[2018-10-16 20:21] fletchapin commented on #99
Have you tried removing @ut.list_handler from all the functions? That's what I did to get the tests in `physchem` to pass.

I still want to figure out why exactly that was causing an error before deciding if it's an easy fix or if @ut.list_handler should be removed

[2018-10-17 03:32] fletchapin commented on #99
I've discovered the root cause of the issue with `@ut.list_handler`.

<img width="673" alt="screen shot 2018-10-16 at 8 29 21 pm" src="https://user-images.githubusercontent.com/17417538/47060407-52ce3700-d182-11e8-8316-8ea0ec334458.png">

By printing out the inputs into the wrapper function I was able to see that the HandlerResult argument takes up the first argument into the function wrapped by `

[2018-10-17 03:54] fletchapin commented on #99
Just updated `list_handler` and I believe it will pass all the tests now so long as the call is changed from `@ut.list_handler` to `@ut.list_handler()`.

The reason being that I moved `HandlerResult` to be an optional argument of `list_handler` and moved `func` into the decorator. In this way if no argument is passed in `HandlerResult="nparray"` as before, but it doesn't take up one of the functio

[2018-10-17 18:59] HannahSi commented on #100
Our meeting has been moved to Friday because of a conflict.

[2018-10-20 04:42] HannahSi commented on #100
Meeting Notes (I'll write this more formally in an wiki page when I get the chance)

- **Master branch**: the master branch should be kept completely functional
  - Approval by other members will be required for merging and pushing to the master branch
  - E.g. Oliver and I will approve each other's subteam's changes
- **Travis tests**: we should Travis tests that aren't passing as soon as possibl

[2018-10-20 15:03] eak24 commented on #100
This looks great! I like the focus on testing :-). One suggestion is that
you can still write pytests that produce graphics. You won't be able to
test the graphics themselves, but you can atleast ensure that the code
needed to make them ran without throwing an error. Here's a module that
will do image comparison if you want...
https://github.com/matplotlib/pytest-mpl

On Sat, Oct 20, 2018 at 12:42

[2018-10-23 16:23] juanchon998 opened #102 "Errors in using package"
Hello team (@oliver-leung ?)

I'm trying to see if I can use the new LFOM code in python to generate an LFOM design instead of using the Mathcad. I am trying to modernize!

However I am running into problems that are presumably associated with the import. I can't seem to import any packages:

![image](https://user-images.githubusercontent.com/27255695/47375244-141e0c80-d6ad-11e8-872e-e3fb62f1cbbe.

[2018-10-24 02:34] fletchapin commented on #102
@juanchon998 I ran into almost the same problem last week when I was debugging the test cases. I don't think it's a bug with the package but how you're calling the import statement and where the kernel exactly is being run from.

With that being said unfortunately I don't have an immediate answer for you on how to fix this since it's very dependent on your environment. When I just did `pip install

[2018-10-24 04:01] juanchon998 commented on #102
Thanks for the help Fletcher! How do I restart my kernel? Is that what `pip install -e .` does?

I'll try it tomorrow and report back

[2018-10-24 04:52] fletchapin commented on #102
Do `CMD + SHIFT + P` on Mac or `CTRL + SHIFT + P` on Windows in Atom then search `Restart` and Hydrogen’s command should appear.

Restarting Atom will also restart the kernels since Atom kills them when it closes.

[2018-10-24 04:54] fletchapin commented on #102
`pip install -e .` installs the package at the current directory rather than the latest pip version. That way you can use the latest updates pushed to master even if they haven’t been released on pip yet

[2018-10-24 13:49] juanchon998 commented on #102
I tried uninstalling the aguaclara package and reinstalling it with `pip install -e .` , then I restarted atom, restarted the kernel, and got the same error. I also get this error message whenever I open atom, which might have something to do with it.

![image](https://user-images.githubusercontent.com/27255695/47435164-3e310680-d761-11e8-81b5-2c150ecbc40f.png)

[2018-10-27 22:56] HannahSi opened #103 "Errors with head_loss.py and design/test_lfom.py"
The @ut.list_handler calls are updated now to @ut.list_handler() (thank you @fletchapin for the  function decorator fix!) However, there are still a few lingering errors. Does anybody have some insight on these?

[A call on k_value_reduction()](https://github.com/AguaClara/aguaclara/blob/9dfb037c81262d515f46f96fc1e35fdf98905fae/tests/core/test_head_loss.py#L42) in tests/core/test_headloss.py gives

[2018-10-28 02:23] fletchapin commented on #103
@HannahSi the strict=True error is part of pints unit wrapper. I believe I explained it before but in general we should set all functions to strict=false in the wrapper so that we don’t have to worry about checking units on dimensionless constants

[2018-10-28 02:23] fletchapin commented on #103
The other error I’ll have to take a closer look at later in the week when I’m less busy

[2018-10-28 13:41] eak24 commented on #103
You can delete the test_lfom file that is in the core folder.

On Sat, Oct 27, 2018 at 10:24 PM Fletcher Chapin <notifications@github.com>
wrote:

--
*Software Engineer, Onshape*

[2018-10-28 20:02] aaronyaosmith opened #104 "We don't know what 'opt.L_sed' is."
aguaclara.design.floc contains the function 'a_ent_tank()' which uses the constant 'opt.L_sed'. However, 'opt' refers to 'aguaclara.core.optional_inputs' which has been deleted during our refactor. Additionally, looking at the history, 'L_sed' was never a part of 'aguaclara.core.optional_inputs'.

Until we figure out what 'L_sed' actually is (the sed tank has multiple lengths associated with it; w

[2018-10-28 21:02] aaronyaosmith commented on #104
Here's the code context:
This is the body of a_ent_tank().

    while (A_ratio) > 1.01 and (A_ET_PV/A_new) < 0.99:
        A_ET_PV = A_new

        vol_floc = vol_floc(q_plant, hl, Gt, T)
        A_floc_PV = vol_floc/(depth_end + hl/2)
        A_ETF_PV = A_ET_PV + A_floc_PV

        W_min = width_floc_min(q_plant, hl, Gt, T, depth_end)

        W_tot = A_ETF_PV/opt.L_sed

        num_chan = num_ch

[2018-10-29 05:52] HannahSi commented on #103
Got it, I added a strict=False argument in the function wrappers for k_value_expansion and k_value_reduction. The error about a wrapped function disappeared, but k_value_orifice is still acting strangely when it enters the "oversize" case:

Here's the error k_value_orifice raises at line 42 of test_head_loss.py:

I did some testing, and the return statement in the k_value_orifice function
[code]
s

[2018-10-30 06:36] fletchapin commented on #104
The value of L_Sed is 5.8 meters. I found it [here](https://github.com/AguaClara/aguaclara/commit/1e59a32bed61cd294519bca352623c8a9fb7cdbc#diff-b37defd42c059ea6235ace7a6bb52eb9R363) but it's found in a lot of the commit history.

Eventually L_Sed will be passed in from the sed tank which is designed first, so it should be an input into the class constructor (but use 5.8 m for testing)

[2018-10-30 06:36] #104 closed, assigned to nobody

[2018-10-30 21:30] HannahSi commented on #99
Discussion continued and (mostly) resolved in issue #103!

[2018-10-30 21:30] #99 closed, assigned to nobody

[2018-10-30 21:58] HannahSi commented on #103
@fletchapin The second issue, with lfom.py, has been resolved! It turned out it was caused by a typo in a variable name.

[2018-10-31 01:41] fletchapin commented on #103
@HannahSi I'll take a look and try to reproduce the issue you're seeing with dimensionless units. After I'll update my findings here

[2018-11-03 00:24] oliver-leung commented on #102
Hey @juanchon998 , were you able to resolve this error? [Here is an issue](https://github.com/lgeiger/ide-python/issues/34) for the Atom Python plugin that talks about the same error that you're getting.

Did you try running `python -m pip install 'python-language-server[all]'`, and if so, what was the result?

[2018-11-03 01:25] oliver-leung opened #108 "Sphinx-generated wiki build issues"
The `aguaclara` wiki is looking a bit disorganized - I'm thinking that we should move towards Sphinx auto-generated documentation, like the [textbook](https://aguaclara.github.io/Textbook/) and [`onshapepy`](https://aguaclara.github.io/onshapepy/).

There's already a [documentation website](https://aguaclara.github.io/aguaclara/#) set up for the repository, which automatically updates when our Tra

[2018-11-03 17:54] oliver-leung commented on #103
All tests are passing now - we decided to omit `lfom.py` tests that referenced `onshapepy` for now, since we weren't sure how to make it work with the `.onshapepy` file while passing Travis tests. @ethan92429 how did you make it work initially?

We've made pull request #109 to merge to master.

[2018-11-03 18:22] oliver-leung commented on #96
As suggested by @fletchapin , we should rewrite `pipes.py` and `pipeline.py` so that they use our new class-based structure. A quick list of things that I think need to be implemented for this:

- Rename it to `pipe.py`
- Move functions for head loss in `physchem.py` to `pipe.py` as instance functions for the `Pipe` class
- Integrate the completed `Pipe` class with `Pipeline`
- Docs and tests

Thi

[2018-11-03 18:35] oliver-leung opened #112 "Flocculator-sedimentation tank interactions"

[2018-11-03 18:38] oliver-leung commented on #112
@monroews One discrepancy that we've run into is regarding the assumed length of the sedimentation tank when building the flocculator. The [textbook](https://aguaclara.github.io/Textbook/Flocculation/Floc_Design.html#specify) claims the sedimentation tank's maximum length should be 6m, but @fletchapin mentioned that he used 5.8m when he wrote design code. Does this 0.2m difference matter?

[2018-11-03 18:42] monroews commented on #112
The maximum length is actually being set by the length of the inlet manifold pipe. The maximum length of pipes is 6 m. Thus that pipe with all of the diffusers can't be longer than 6 m. The total length of the sed tank will be significantly longer than 6 m because of the floc hopper. Thus the flocculator should be getting this length from Onshape.

[2018-11-03 18:49] oliver-leung commented on #112
My bad, I meant to say that the *maximum length of the flocculator based on the length of the sedimentation tank length* was listed as 6m in the textbook. Does that quantity matter if it's 6m or 5.8m?

[2018-11-03 18:51] monroews commented on #112
Both numbers are wrong. We need the real number from Onshape after the sedimentation tank is drawn.

[2018-11-03 18:55] oliver-leung commented on #112
I see, we will take that into account and use Onshape's measurement feature for that.

[2018-11-03 18:57] monroews commented on #112
We also have the goal of being able to design a stand alone flocculator based on the sizes given by a client.  Thus when a stand alone flocculator is created the length can be set by the engineer.

[2018-11-03 19:10] oliver-leung commented on #112
I see, we'll pass in length when building the flocculator. I think we'll either use an Onshape measurement or make a sedimentation tank function to get that length, whichever is more stable. For now, we'll default the quantity to 6m until the sedimentation tank code is written.

[2018-11-03 19:18] oliver-leung opened #113 "Improve floc.py"
AIDE Design is currently in the process of rewriting the flocculator code to follow our class-based structure standard. We've moved most functions over to this new structure, and there are a few more functions that we need to add, based off of the [textbook section on flocculator design](https://aguaclara.github.io/Textbook/Flocculation/Floc_Design.html).

Within the next week, we hope to:
- Finis

[2018-11-04 16:44] juanchon998 commented on #102
Thanks for following up Oliver- I checked the issue you sent and did as mzannoni suggested. I ran `pip3 install --user --upgrade python-language-server[all]` and got a lot of "Requirement already satisfied" text _and_:
![image](https://user-images.githubusercontent.com/27255695/47967020-7caaa900-e01e-11e8-9ce4-1cdef15ba792.png)

So I added that path to my PATH

![image](https://user-images.githubu

[2018-11-04 21:08] oliver-leung commented on #102
`python -m pip install 'python-language-server[all]` looks like it's getting a string parse error. The first line indicates that it's doubling the single quotes.

Perhaps try running

[code]

or

[code]
or those commands without `python -m` at the beginning.

[2018-11-05 02:13] eak24 commented on #103
Hey @oliver-leung , what's the error? When did it start happening? How did the change relate to how onshapepy.enc works? Were the tests passing before, and if not now, why?

[2018-11-05 19:05] oliver-leung commented on #113
We should add the `@property` tag before each function declaration so that each value for the Flocculator is only calculated once. After doing so, we also would no longer need parentheses after each function call.

[2018-11-05 21:21] oliver-leung opened #119 "Calculating the area of the entrance tank in plant.py"
While writing the Flocculator class (#113), we ran into the `area_ent_tank()` function, which uses the plant's flow rate and some parameters from the flocculator in order to calculate the entrance tank's area. Due to the entrance tank and flocculator being on the same hierarchical level (components of a plant), we should avoid or minimize interdependence between them.

Instead, we should **put thi

[2018-11-08 17:42] oliver-leung commented on #113
This is just a quick list of our to-do's before floc.py is ready.
## Oliver
- `retention_time`
    - Write code
    - Write docs
    - Write test
- `vol`
    - Write docs
    - reference `retention_time`
- `l_max_vol`
    - Write docs
    - Write test
- `channel_l`
    - Write docs
    - Write test
- `w_min_h_s_ratio`
    - Write docs (follow textbook)
    - Reformat code to be more readable
    -

[2018-11-08 21:25] #119 closed, assigned to aaronyaosmith

[2018-11-14 02:12] oliver-leung commented on #108
Hey @HannahSi , are you planning on writing documentation on how to use the package's graphing functionality? If so, you should consider doing it on the Sphinx-generated wiki!

If you'd like, we can have a meeting this week or the week after to go over some things I've figured out about Sphinx.

[2018-11-14 17:18] HannahSi commented on #108
Hi Oliver, I think moving the wiki to a Sphinx documentation site is a good idea! Yes, I do plan on writing documentation for functions I added to the package and would be happy to talk about generating it with Sphinx. I'm available 3-5pm today and Monday, after 4:30 this Thursday. What time works for you?

[2018-11-15 18:00] oliver-leung commented on #108
Let's meet next Monday at 3pm, talk to you then!

[2018-11-18 22:23] oliver-leung commented on #100
I've migrated the information here to [this wiki page](https://github.com/AguaClara/aguaclara/wiki/Development-Management).

[2018-11-18 22:23] #100 closed, assigned to oliver-leung, IrenaGao

[2018-11-27 11:16] monroews opened #129 "file path is wrong for unit definitions.txt"
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
C:\Users\mw24\Anaconda3\lib\site-packages\pint\registry.py in load_definitions(self, file, is_resource)
    359                 else:
--> 360                     with open(file, encoding='utf-8') as fp:
    361                         return self.l

[2018-11-28 21:13] HannahSi commented on #129
@monroews The code referenced in the error seems to be from release v0.0.14. Are you sure that you are running code from version v0.0.15? You can use `pip show aguaclara` to check and, if the version is outdated, `pip install aguaclara --upgrade` to upgrade it.

[2018-11-28 21:20] monroews commented on #129
I ran the `pip show aguaclara` command  and I am using v0.0.15.

Name: aguaclara
Version: 0.0.15
Summary: Open source functions for AguaClara water treatment research and plant design.
Home-page: https://github.com/AguaClara/aguaclara
Author: AguaClara at Cornell
Author-email: aguaclara@cornell.edu
License: MIT
Location: c:\users\mw24\anaconda3\envs\textbook\lib\site-packages
Requires: numpy, scip

[2018-11-30 03:54] HannahSi commented on #108
The Sphinx documentation is still not building, and it seems that the docs/build folder is not included in the master branch. @oliver-leung Do you have a folder locally that you can add? And should we delete docs/_build (and also build/?) from the .gitignore?

[2018-12-01 19:19] oliver-leung commented on #108
Sorry, just saw this! Travis is supposed to build the finalized HTML files that go into the wiki, so we avoid adding build files to the repository that would clutter it up.

Those build files are supposed to be added to the `gh-pages` branch, although it seems that they're still not appearing there.

[2018-12-06 16:50] juanchon998 opened #134 "Kinematic viscosity of various solutions"
https://github.com/AguaClara/aguaclara/blob/af05d18b90c986026353f7c2fc55c9280845d4d0/aguaclara/core/constants.py#L9

Hello!

I'm not sure if I'm looking at the latest version of this file, but the viscosity and density of water should be dependent on temperature. [Temperature can have a significant effect on viscosity from 0 to 25 °C](https://www.engineeringtoolbox.com/water-dynamic-kinematic-visc

[2018-12-11 20:51] HannahSi commented on #129
Problem solved! It turned out that the virtual environment linked to Hydrogen had version 13 of the aguaclara package. `from aguaclara.play import *` worked perfectly after upgrading to version 15.

[2018-12-13 16:32] fletchapin commented on #129
@HannahSi thanks for figuring this out. I meant to take a look at it a while back but work has been very very busy recently. Feel free to keep assigning me things if you want me to take a look though!

[2018-12-14 15:26] HannahSi commented on #129
@fletchapin No problem, I understand you're very busy! It turned out to be much easier to solve in person (in front of Monroe's computer). But thank you for keeping this on your mind, and I'll continue to keep you in the loop in the future!

[2018-12-14 15:26] #129 closed, assigned to nobody

[2018-12-21 14:28] monroews commented on #134
agreed. The design input should include a temperature. We already have functions for viscosity and density of water as a function of temperature in physchem. Thus this constant should be deleted.

[2018-12-21 14:36] monroews opened #135 "plotting with AguaClara code and Matplotlib backend"
plotting using the aguaclara code base is different than how it worked in aide_design.

The command
  fig, ax = plt.subplots()
results in a blank figure showing as a result right after that line of code.

The command
  plt.show()
no longer produces any output.

This seems to related to a change in the matplot lib environment. [See](https://matplotlib.org/faq/usage_faq.html#what-is-a-backend).

Wha

[2018-12-21 16:20] HannahSi commented on #135
Hi Monroe,

From the bit of testing I did just now, it seems like the backend 'TKagg' should work. What the aguaclara package is currently using*, 'Agg', is apparently a non-GUI backend, so it does not support `plt.show()`.

I think we can correct for this in `play.py` by changing our `matplotlib` import from
[code]
to:
[code]
But for now, could you let me know if using the line `plt.switch_backen

[2018-12-22 21:12] monroews commented on #135
I think this is a change our Atom environment.

This simple code snippet no longer works in Atom the way it used to. It creates a separate plot for each line of code and then doesn't put everything together into one figure. I think this new (and undesirable behavior) is not related to changes in the AguaClara code base.

[code]

[2018-12-26 14:03] monroews opened #136 "metric drill series stops at 4.9 mm"
The metric drill series only includes tiny drills. This causes the LFOM function to fail when using metric drills. Add metric drill sizes up through about 5 cm. See McMaster perhaps for typical drill sizes.

def get_drill_bits_d_metric():
    """Return array of possible drill diameters in metric."""
    return np.arange(0.5, 5.0, 0.1) * u.mm

[2018-12-26 15:02] monroews opened #137 "list handler wrapper missing from vertical orifice and horizontal orifice functions"
Vertical and horizontal orifice flow rates in physchem had a list_handler(HandlerResult="nparray"): wrapper that enabled them to handle arrays. That list handler is missing and because of that the functions can't handle arrays. This lost capability was needed for CEE 4520. I'm working on the design challenges for that course and am wondering if this capability can be restored or if there was a rea

[2018-12-26 19:32] fletchapin commented on #137
@monroews This was removed when I found out ut.list_handler was breaking all our tests. Once I fixed the function I believe it should have been added back to all the functions, but this one was probably missed.

More details: https://github.com/AguaClara/aguaclara/issues/99

[2018-12-26 19:34] fletchapin commented on #137
@oliver-leung I believe the function is fixed so the wrappers can be added back. Could you check that the tests pass when the wrapper is re-added to physchem?

[2018-12-27 12:54] monroews commented on #135
This problem seems to have gone away without any changes in the code. So I'm going to close this...

[2018-12-27 12:54] #135 closed, assigned to eak24, oliver-leung, HannahSi

[2018-12-27 15:31] monroews opened #139 "Execute once! to speed execution of object oriented code"
I like the object oriented programming version of the LFOM code. I think it will be easy for students to use. The problem is that the code needs to fully execute every time it is called to get a calculated value. When testing the LFOM code I created a graph that requires several minutes to obtain 50 flow rates as a function of depth in the LFOM.

I think it should be possible to rewrite the LFOM c

[2018-12-28 07:00] oliver-leung commented on #139
Here's what our current functions look like:

[code]

One possible solution that I'm thinking of:

[code]

Do you see any issues with this solution? If not, I can implement it for the LFOM and Flocculator classes.

[2018-12-28 10:58] monroews commented on #139
I was assuming there was a standard object oriented solution. Something like the init part of the class where everything is calculated on initialization. We have to make sure that any time new values are sent to the function that it recalculates everything.

Here is an example from [read the docs](https://python-textbok.readthedocs.io/en/1.0/Classes.html). I think ours is even simpler because the

[2018-12-28 14:14] eak24 commented on #139
The problem is knowing when to invalidate the cache. Small functions that
don't take much computing power could be left alone for simplicity. The
computing power is insignificant for those and having a cache would have
quite a bit of complexity overhead. Another way to solve for this is to
remove the @prop tags. That way, to call the function, you'd have to use
(). That would signify that there wa

[2018-12-28 14:17] monroews commented on #139
When is initialization done for a class? I assume it is done when the class is called and passed values. If that is the case then all design values could be calculated in initialization.

The example I sent seems to do this for the age of the person. Couldn't we do this for all of the calculated values in LFOM?

[2018-12-28 14:42] eak24 commented on #139
We could initialize the values and not let them change after creation.
init() is only called when the instance of the class is created.

On Fri, Dec 28, 2018 at 9:17 AM Monroe Weber-Shirk <notifications@github.com>
wrote:

--
---
Ethan Keller
Software Engineer
Onshape <https://www.onshape.com/>
607-241-0693
---

*Find out why Onshape is the only CAD company in the Forbes Cloud100.
<https://www.ons

[2018-12-28 14:47] monroews commented on #139
I assume that it is initialized every time we send it new values. If that is the case then it should work as we need. The calculated values can ONLY change if we send the class new inputs.
If I write
`LFOM_hl = 20 * u.cm
LFOM_flow = 60 * u.L/u.s
my_LFOM = LFOM(q=LFOM_flow,hl=LFOM_hl, drill_bits = drills.DRILL_BITS_D_IMPERIAL)`
and then
`my_LFOM.hl`
I assume I'll get 20 cm back.

If I then call
`LF

[2018-12-28 14:54] eak24 commented on #139
Yes, because you have created two different instances. Everytime you call
LFOM(), under the hood you are calling init(). The situation we want to
handle is when LFOM() is called, and then the instance's field is changed.
That would correspond to calling my_LFOM.hl = 40*u.cm to update the
instance's value.

On Fri, Dec 28, 2018 at 9:47 AM Monroe Weber-Shirk <notifications@github.com>
wrote:

--
---

[2018-12-28 15:00] monroews commented on #139
Given that the entire LFOM design changes whenever ANY of the inputs are changed I would suggest that the class should be reinitialized and all values calculated whenever it is given a new input. Is this possible? Or is it possible to prevent changing the inputs to an instance?

Do we have a use case when it would be useful to change an instance without having it update the calculated values?

[2018-12-28 16:26] eak24 commented on #139
I think this brings us back to the way we currently have it... either you compute the computed values when the instance is initialized, OR you compute on access to the computed values. The second flavor is more 'pythonic' in that it lazily computes the values, allowing you to change the inputs at any point and the value is guaranteed to always be in sync. I think the current system is preferable i

[2018-12-28 16:32] monroews commented on #139
I was creating a graph of flow as a function of depth in an lfom. I was using calling this function 50 times to generate 50 data points.
`def flow_lfom_vert(height):
      "Returns the flow through the LFOM as a function of height above the datum"
      Flow = np.empty_like(my_LFOM.n_orifices_per_row)
      for i in range(len(my_LFOM.n_orifices_per_row)):
          Flow[i] = ((pc.flow_orifice_vert

[2018-12-28 16:46] eak24 commented on #139
Yeah, since this is a property of the instance (the flow as a function of depth) - you could build this directly into the class. So that a call to my_lfom.graph_flow_per_depth() would yield the graph. Just initialize a copy of the results from `my_LFOM.height_orifices` outside of the for loop. Since you are not changing the LFOM values, no need to keep recalculating `my_LFOM.height_orifices`  and

[2018-12-28 21:23] monroews commented on #139
I called the class only to get the calculated values from the class and and assign them to local variables. I then passed those local variables in the functions used to create the graph. That made execution take less than a second.  So what I'm learning is that classes shouldn't be used as convenient sources of the calculated values.

I still think that for our classes (flocculator, CDC, LFOM, etc

[2018-12-28 22:37] monroews opened #140 "extra unit import statement in cdc functions"
The aguaclara/aguaclara/design/cdc.py imports the unit registry twice. The second one  on line 16 needs to be deleted so that the functions can be used.

[2018-12-28 22:45] monroews commented on #134
viscosity is now defined in 3 places. It is defined as a constant, it is defined as in physchem and it is defined in CDC.

I'd propose that kinematic viscosity should only be defined in physchem and should include both water and the various solutions (alum, PACl, chlorine)

[2018-12-28 22:48] monroews opened #141 "kinematic viscosity should be named kinematic viscosity, not nu"
Our naming convention uses the longer english names rather than the greek letters that are sometimes used. We use the english name convention for dynamic viscosity and for density. Thus we should stick with the english name convention for kinematic viscosity.

This needs to be reverted to the english convention in https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/physchem.py.

[2018-12-31 14:17] monroews opened #144 "K_MINOR_FLOC_BAFFLE missing from head loss code"
Our current estimate of the minor head loss coefficient (K_MINOR_FLOC_BAFFLE) for flow around the end of a 180 degree bend is
VC_BAFFLE_RATIO=con.VC_ORIFICE_RATIO**2
    K_MINOR_FLOC_BAFFLE = (1/VC_BAFFLE_RATIO - 1)**2

VC_BAFFLE_RATIO is our estimate of the flow contraction around a 180 degree bend.

[2018-12-31 14:33] monroews commented on #141
pc.viscosity_kinematic(Temperature) needs to be redefined asap! The fact that this function is missing is breaking lots of code!

[2018-12-31 15:25] monroews opened #145 "Turbidity definition"
See https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/data/unit_definitions.txt

What should this conversion factor be? NTU = 1.7 * (mg / L)

After William provides the value, perhaps Oliver can update this.

[2018-12-31 16:04] WPennock commented on #145
In Li et al. (2015), they found 68 NTU per 100 mg/L kaolinite, so we’ve used their ratio of 1.47 lately.

[2019-01-01 20:50] monroews opened #146 "sig fig function call only works once"
[aguaclara.core.units](https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/units.py)
has a function that allows setting the number of significant digits to print. If you call that function more than once it causes an error because that function includes reloading the unit registry.  The unit registry load should not be part of the significant digit function.

Below is the error resul

[2019-01-02 00:48] monroews commented on #146
This error is related to another error.
Something in the unit registry creation process has broken, and units.py cannot find unit_definitions.txt to import the additional units (NTU, USD, HNL).

This is because the only time that the unit_definitions.txt is called is INSIDE the function for setting the number of significant digits!

[2019-01-03 07:56] fletchapin commented on #146
I fixed this in a branch called fletch/miscFixes which I made to address all these issues. I'm waiting to resolve a few more of them before creating the PR and merging.

[2019-01-03 07:56] fletchapin commented on #145
Updated in the same branch as the other changes (fletch/miscFixes)

[2019-01-03 07:56] fletchapin commented on #144
@monroews I'm a little confused as to where you would want this defined. It seems to me that it's more complex than any of the other constants in head_loss.py, so I'm not sure if it should go there.

Also, I think it's already defined in line 96 of design/floc.py. Perhaps a comment should be updated to explain how that value was calculated? Once you let me know what you think is best I can add it

[2019-01-03 07:58] fletchapin commented on #141
I've updated this on my branch, but just wanted to confirm that we want to return to this name as we intentionally changed it in [this commit](https://github.com/AguaClara/aguaclara/commit/fbf2f79d0e5f4b6ac77d9058e1cbc95c04022194#diff-e9823cad2f53bb8c12cb1b56f464f64c).

[2019-01-03 07:59] fletchapin commented on #140
I fixed this in a branch called fletch/miscFixes which I made to address all these issues. I'm waiting to resolve a few more of them before creating the PR and merging.

[2019-01-03 08:10] fletchapin commented on #137
I've gone ahead and added these back on my branch (fletch/miscFixes), but I didn't have time to test.

@monroews could you please test off this branch? I made a number of small changes and don't have the time to test them near thoroughly enough.

[2019-01-03 08:24] fletchapin commented on #136
I've changed the range based on https://www.mcmaster.com/drill-bits to the following:

`np.concatenate((np.arange(1.0, 10.0, 0.1), np.arange(10.0, 18.0, 0.5),  np.arange(18.0, 36.0, 1.0))) * u.mm`

[2019-01-03 16:10] monroews commented on #136
Please add some more all the way up to at least 5 cm. These are needed for design of the LFOM. They could even be in 10 mm intervals the rest of the way to 50 mm.

Thanks!!!!

[2019-01-03 16:11] monroews commented on #137
Perhaps @oliver-leung could test this. I won't have time this spring...

[2019-01-03 16:14] monroews commented on #144
I suppose it should go with the other minor loss coefficients in head_loss.py.
Then the floc.py should pull it from head_loss.py.

[2019-01-03 16:15] monroews commented on #141
It should revert to pc.viscosity_kinematic(Temperature) because that is the convention we are using for all other functions. We don't use the Greek symbols as function names.

[2019-01-03 19:18] fletchapin commented on #144
Ok, this has been updated in fletch/miscFixes

[2019-01-03 19:18] fletchapin commented on #141
Sure, in that case this is all set in my branch

[2019-01-03 19:19] fletchapin commented on #136
Ok, I only stopped at 35 mm since that's where McMaster stopped in their catalog, but updated now

[2019-01-03 19:25] fletchapin commented on #144
So I've changed it, but while doing so I noticed that the equation you gave comes out to about 2.3, but the value used in the floc design code was 2.5, with a note: "Increased both to provide a safety margin on flocculator head loss and to simultaneously scale back on the actual collision potential we are trying to achieve."

Therefore, I'm wondering if this value should have been updated after al

[2019-01-03 19:56] monroews commented on #144
Hmmm... Okay, so the baffle minor loss coefficient is very sensitive to the value used for the orifice vena contracta coefficient.

So set it to 2.5. Thanks for checking carefully!

[2019-01-03 22:43] fletchapin commented on #144
Ok, I've updated this and created a PR. I'm closing these issues assuming the PR will be merged, but if there are any further issues they should be reopened.

[2019-01-03 22:43] #144 closed, assigned to nobody

[2019-01-03 22:52] #146 closed, assigned to oliver-leung

[2019-01-03 22:52] #145 closed, assigned to oliver-leung, WPennock

[2019-01-03 22:52] #141 closed, assigned to oliver-leung

[2019-01-03 22:53] #140 closed, assigned to oliver-leung, fletchapin

[2019-01-03 22:53] #137 closed, assigned to eak24, oliver-leung

[2019-01-03 22:53] #136 closed, assigned to oliver-leung

[2019-01-18 01:50] fletchapin opened #149 "release version out of sync with PyPi"
Just noticed this when checking if my version incrementing worked when I changed the version in a new PR (#148).

Whenever students are back for this semester if you could take a look, and update the docs so they explain how to keep the versioning correct in the future, that would be great!

Screenshots to demonstrate the error, note how after v0.0.14 the histories diverge:
![PyPi](https://user-im

[2019-01-18 01:54] fletchapin commented on #149
P.S. My theory to how this happened was that the version was set to v0.0.16 and when I published the release originally without updating that version it overwrote the old v0.0.16 on PyPi, so I'll have to:

1) delete the current v0.0.17 release on git
2) tag the new PR as release v0.0.17

The versioning for v0.0.17 should then be fixed. However, this won't fix the fact that v0.0.16 got overwritten

[2019-01-29 21:08] monroews opened #150 "Variable naming conventions, Flocculator code"
I recently worked on the flocculator design code and felt like there was no consistent convention being used for naming variables. After seeing the many ways that variables were named I am now strongly in favor of using a naming convention that is similar to what we used in Mathcad. That naming convention was VERY clear. The first letter or pair of letters is the symbol that would commonly be used

[2019-01-29 21:22] eak24 commented on #150
Naming has indeed been a mess. We need to make sure that when code gets
reviewed, bad names are spotted and marked as something that needs to get
changed. I think we need a code review checklist.

On Tue, Jan 29, 2019 at 4:08 PM Monroe Weber-Shirk <notifications@github.com>
wrote:

--
---
Ethan Keller
Software Engineer
Onshape <https://www.onshape.com/>
607-241-0693
---

*Find out why Onshape is t

[2019-01-30 01:07] WalterGuardado opened #155 "list index out of range"
@oliver-leung Is it possible that the list handler needs to be modified or removed?

FlowRate = 10 * u.L / u.s
    HeadLoss = 1500 * u.m - 1440 * u.m
    Length = 2.5 * u.km
    Temp = 30 * u.degC
    Nu = pc.viscosity_kinematic(Temp)
    PipeRough = 0.1 * u.mm
    KMinor = 0.5 + 1

    pc.diam_pipe(FlowRate, HeadLoss, Length, Nu, PipeRough, KMinor)
------------------------------------------------

[2019-01-30 01:08] jacqueline-wong commented on #155
Me too!!!!!!

[2019-01-30 01:08] JC-Conneely commented on #155
I'm also getting this error!

[2019-01-30 02:07] jacqueline-wong commented on #155
After using teletype, we realised that Ananya could run Justin and I's code but neither of us could run hers... Perhaps this is an issue with Macs and specifically Macs updated to Mojave? And within that, perhaps an issue with "PipeRough" because only functions with that variable have issues...

[2019-01-30 14:01] monroews commented on #155
I checked this on my computer. I am using the code below and it works fine. So now I'm wondering if we are dealing with different versions of python?

Type "python --version" in the anaconda Prompt or command line window.
I am using python version 3.6.6

[code]

[2019-01-30 15:20] JC-Conneely commented on #155
Ananya's is working, and she's also on version 3.6 as well. The code isn't working for Jacqueline and I, and we're both on version 3.7.

Is the best solution to uninstall python completely and reinstall version 3.6?

[2019-01-30 15:32] monroews commented on #155
I'd suggest switching to version 3.6.6 and seeing if that fixes the problem.

Here is a [link to a way that I found.](http://chris35wills.github.io/conda_python_version/) I've not tested it!

Let us know if this works!

[2019-01-30 18:21] jacqueline-wong commented on #155
I just downgraded my Python to 3.6.6 but it still has the same error unfortunately. @JustinConneely had the same issue as well

[2019-01-30 19:23] monroews opened #151 "list handler wrapper doesn't work for single values"
List handler is able to handle an array of one element, but can't handle a single element.

This works
density = pc.density_water(np.array([21])*u.degC)

This fails
density = pc.density_water(21*u.degC)

@oliver-leung @fletchapin
This is causing problems in both courses, so fixing this is a high priority.

If needed a solution that can only handle a single value is better than the current version

[2019-01-30 19:50] monroews commented on #155
I think the problem is the list handler that enables our functions to handle arrays. I'm asking @oliver-leung and @fletchapin to see if they can release a version of AguaClara with the list handler removed. In the meantime you can assume an answer where the code breaks and then move ahead in the assignment. Hopefully we will have a new code release soon.

[2019-01-31 14:18] WalterGuardado commented on #155
I installed aguaclara version 0.0.16 which didn´t have the list handle installed. Now I get this error. This suggests that the problem isn´t the list handler.
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-9-c6cabd7ac43d> in <module>
----> 1 pc.diam_pipe(FlowRate, HeadLoss, Lengt

[2019-01-31 15:08] monroews commented on #155
I get an error running the pc.diam_pipe function when I am using pint version 0.9.
I can fix the error by installing pint version 0.8.1.
you can try this by typing this in Anaconda prompt
pip install pint==0.8.1

[2019-01-31 15:29] jacqueline-wong commented on #155
It works for me now! Thank you so much!

[2019-01-31 15:47] JC-Conneely commented on #155
This worked for me as well. Thank you!

[2019-01-31 16:51] jillianwhiting opened #152 "[BUG] pc.density_water function unit display issues"
Some students in the 4520 class and monroe and tried to run this code
temp_crit = 10 * u.degC
density = pc.density_water(temp_crit)
density
and an error was thrown that would not allow them to display the value of density, but then when you multiple density by 1 it does print.

[2019-01-31 17:07] fletchapin commented on #149
@oliver-leung could you take a look a this?

I noticed on the 4520 class repo someone mentioned using an older version of the code (v0.0.16) to avoid a bug, but I'm afraid that they may not actually be using the version they think they are

[2019-01-31 18:32] oliver-leung commented on #152
This is my output:

[code]

What was the error message that they got?

Could they run

[code]
and see if they're on version 0.0.17?

[2019-02-01 00:13] oliver-leung opened #153 "Round significant figures with Pint units"
Some students in CEE 4520 are interested in rounding significant figures with the `ut.round_sf` function, but it doesn't play well with Pint units.

**Task:** Implement `ut.round_sf` so that it works with Pint units.

[2019-02-01 03:27] fletchapin commented on #151
@monroews I just checked and the density_water function doesn't use list_handler, so I don't believe it's an issue with that but instead is probably an issue with this line:
```rhointerpolated = interpolate.CubicSpline(WATER_DENSITY_TABLE[0], WATER_DENSITY_TABLE[1])```

To confirm this I ran ```radius_hydraulic(2*u.cm, 1*u.cm, False)``` (as you can see the inputs have no lists) and the function wo

[2019-02-01 03:47] fletchapin commented on #153
I added a commit which handles units in ```round_sf()``` in this branch: https://github.com/AguaClara/aguaclara/tree/fletch/list_handler

I'm not sure if it's the best way to do it but feel free to use it if it's helpful

[2019-02-01 13:45] monroews commented on #151
There are TWO separate issues here and it doesn't seem that List handler is the issue in either case.

# problem with pint
I get an error running the pc.diam_pipe function when I am using pint version 0.9.
I can fix the error by installing pint version 0.8.1.
So for now I will recommend that students use pint version 0.8.1 until we can find out what is causing the error.
# problem with the density

[2019-02-01 14:36] monroews commented on #155
@oliver-leung
I restarted Atom with your local fix of the aguaclara code and the density function now returns a value that can be displayed without causing an error. I'd suggest pushing that fix and releasing a new version of aguaclara code right away. Thanks!

[2019-02-01 19:19] fletchapin commented on #151
@monroews understood. I'll let you know if I make any progress on those two issues, but I'm not sure how difficult it will be to find the root causes of these bugs

[2019-02-01 19:22] fletchapin commented on #155
@oliver-leung @monroews if we're releasing a fix for this I'd suggest also adding in the adjustment to round_sf() which allows for units to be input/returned

[2019-02-03 03:35] oliver-leung commented on #153
Thanks! I also added some test cases, could you approve #154 ?

[2019-02-03 18:46] oliver-leung commented on #150
While I understand that there was a need to put dimensions at the front for when working with Mathcad and LaTeX, when we were writing the design code for the flocculator last semester, we were using a different ordering convention that I though was better for Python.

Take the following example usage of the Flocculator class:
[code]
To someone reading this code, they understand the last line to be

[2019-02-03 19:12] oliver-leung commented on #155
Got it - let's continue discussion of the water density function in #152.

**Task**: specify `pint==0.8.1` in `setup.py`.

[2019-02-03 19:16] oliver-leung commented on #152
@monroews and I found that `density_water` uses a `CubicSpline` object from SciPy, and that it strangely returns a 1-by-1 NumPy array with the density magnitude. We managed to resolve it with the `np.asscalar` function.

Monroe, do you happen to have the `physchem.py` file that I edited on your computer? I just want to be sure that I'm making the correct change.

**Task:** return the water density

[2019-02-03 20:09] eak24 commented on #150
This seems good to me! One organizational tenet is to keep as many
variables within a class as possible. That limits the variable's
'namespace' As Oliver said, MathCAD was very different in that there was
one namespace. So the variable "W_floc_channel" shouldn't even exist... It
seems like instead, something along the lines of plant.floc.channel.W
should be the name. I'm not up to date enough with

[2019-02-04 14:35] monroews commented on #150
Thank you! So now our convention is that the short symbol that includes information about the dimensions of the variable is the LAST item in the name.

The code that I've seen at the level of defining the LFOM or the Flocculator doesn't use dot notation within the file. Thus the variable name would be plant.floc_channel_W. Is that the right convention or is there a way to make the dot notation wor

[2019-02-04 15:25] monroews commented on #152
I don't know where the file is. I'm sorry!

[2019-02-04 16:25] eak24 commented on #150
There are several ways to make the dot notation work the whole way down.
The channel functionality can be relegated to an internal channel class.
Then the flocculator can create a representational instance of channel.
Then a call to channel width would look like: flocculator.channel.W. A
channel could have other useful methods, like volume, so similarly,
flocculator.channel.W.volume would return t

[2019-02-04 16:35] monroews commented on #150
The current version of the floc code is in a [markdown file that I was using to create a design challenge for CEE 4520](https://github.com/monroews/CEE4520_TA/blob/Monroe_DC_edits/2019/Floc_DCS.md). I have made major edits to the file, so please use my edited version!

[2019-02-05 17:13] oliver-leung commented on #102
Closing this as it hasn't been responded to in a while. @juanchon998 , please reopen this if necessary!

[2019-02-05 17:13] #102 closed, assigned to nobody

[2019-02-07 02:58] eak24 commented on #150
@monroews I just took a look at it, and I think it reads very cleanly. I don't think you would need to have an inner flocculator channel class - I think that would just needlessly complicate things. I also like your strategy to take a snapshot of the outputs so they can just be used directly without additional computation. If you wanted to use caching, just add `@ac_cache` as a decorator on all th

[2019-02-07 13:14] monroews commented on #150
@oliver-leung, what should our next steps be to add this code to the aguaclara repo? It needs

- change names of all variables
- add caching decorators
- provide outputs in dictionary form

Is this something you could do and create a new release within a week?

[2019-02-09 23:17] oliver-leung commented on #155
Completed

[2019-02-09 23:17] #155 closed, assigned to nobody

[2019-02-09 23:26] oliver-leung commented on #153
Completed

[2019-02-09 23:26] #153 closed, assigned to nobody

[2019-02-09 23:28] oliver-leung commented on #149
Fixed

[2019-02-09 23:28] #149 closed, assigned to nobody

[2019-02-12 16:59] oliver-leung commented on #150
We'll start on that! @schaki46 , could you take a look at the code that Monroe pushed to `aguaclara/design/floc.py` in the `floc` branch, then change all of the variables to their old names?

[2019-02-12 18:18] monroews commented on #150
I'm currently revising the floc code and preparing to push to master. I've changed all of the names to try to adopt our python naming style. I'm hoping to push it to master later today.

[2019-02-12 20:24] eak24 opened #162 "Automate documentation validation"
When documentation is being created (which should be done during the release build step) it is critical  to validate that all the publicly exposed functions (which can be assumed to be everything that has a docstring) is fully described. At the very least, check that all the params are present in the function signature. Start by looking here: http://www.sphinx-doc.org/en/master/usage/extensions/co

[2019-02-12 20:44] WPennock opened #163 "tube_sizing.py can't access tubing_data.txt, missing unit definitions"
I have been using tube_sizing.py with:
[code]
Unless this file was intended to be used with another import statement, there appear to be a few problems.

The first is that when I use `ts.ID_colored_tube()`, it is unable to find `data/tubing_data.txt` where the definitions are.

Second, I have to add this line at the beginning of my code
[code]
because there is mention of the `u.rev` unit in the co

[2019-02-13 13:28] monroews commented on #150
The "old names" weren't following a convention and so PLEASE don't edit the names without checking with me first.

[2019-02-16 14:37] monroews opened #164 "[BUG] Incorrect display of significant digits in ut.round_sf"
The algorithm for setting the number of digits to show after the decimal appears to be incorrect.

print(ut.round_sf(986.2536410,4)) yields 986.3. This is correct.
ut.round_sf(986.2536410,3) yields 986.0. It should give 986
print(ut.round_sf(986.2536410,2)) yields 990.0. It should give 990

[2019-02-16 15:24] monroews opened #165 "[BUG] pc.headloss_fric can't handle arrays as inputs"
[code]

I get the following error. I suspect that the wrapper that handles arrays has either been removed or is no longer working.
---------------------------------------------------------------------------
[code]

[2019-02-16 21:18] oliver-leung commented on #108
Hmm... It seems that https://aguaclara.github.io/aguaclara/ still isn't building right. I think it might be an issue with our Travis configuration, so I'll try to get that fixed for release v0.1.0!

[2019-02-16 21:27] #113 closed, assigned to oliver-leung, aaronyaosmith, sc2267

[2019-02-16 21:27] #112 closed, assigned to nobody

[2019-02-16 21:28] oliver-leung commented on #112
Might be needed for #150

[2019-02-16 21:34] oliver-leung commented on #134
@monroews Do you happen to have references on how to calculate dynamic viscosity and density of these other solutions? We'll be able to make functions to find kinematic viscosity once we have those quantities.

[2019-02-16 21:48] oliver-leung commented on #164
This is a side effect of Python - because you're passing in numbers of type `float`, the function retains that type. If you were to pass in an `int`, it would remain an `int`:

[code]

The number should still function the same in subsequent calculations. If you want a value to be printed without the trailing ".0", a quick fix would be:

[code]

Would you like for this type-checking to be automated

[2019-02-17 12:33] monroews commented on #164
Thanks! I don't think we should change to integers because that could have unintended consequences. I think units require floats. So let's leave this as it is. I guess in the Python world the most important thing to show is that the object is a float and not an int. In the engineering world the most thing to show is the right number of significant digits. Those two value systems clash here!

[2019-02-17 12:33] #164 closed, assigned to nobody

[2019-02-17 18:52] HannahSi opened #170 "New features for procoda_parser.py"
`Get_data_by_time()` and `get_data_by_state()` should return NumPy arrays in place of lists to allow for vectorized operations, such as shifting every element of an array or taking a logarithm. The functions should also give an option for returning elapsed time in hours instead of day fraction.

[2019-02-18 15:22] monroews commented on #134
The viscosity for alum and PACl is in the [CDC](https://github.com/AguaClara/aguaclara/blob/master/aguaclara/design/cdc.py) code. The viscosity of chlorine can be assumed to be the same as water for now. All of those viscosity functions should go in the same place. I'm guessing that will be in physchem.

I'm going to try to find the source data for these equations because it isn't clear if these e

[2019-02-18 22:42] oliver-leung commented on #165
This bug will be resolved in the next release (v0.0.20) this week!

[2019-02-18 22:42] #165 closed, assigned to oliver-leung

[2019-02-18 22:45] monroews commented on #165
Yeah! Good work!

[2019-02-18 22:49] oliver-leung commented on #163
It looks like we'll have to fix the path to the `research/data/tubing_data.txt` file, and add that unit definition under `core/data/unit_definitions.txt`. @HannahSi , do you think you could put this change under v0.0.20?

[2019-02-18 23:05] oliver-leung commented on #151
The issue with `pint` has been resolved with #157 , and the issue with `pc.density_water` has been resolved with #173 .

[2019-02-18 23:05] #151 closed, assigned to nobody

[2019-02-18 23:05] oliver-leung commented on #152
Resolved, will be released this week!

[2019-02-18 23:05] #152 closed, assigned to oliver-leung

[2019-02-18 23:15] oliver-leung commented on #139
@monroews Seeing as #143 has been implemented, could you try putting the `@ac_cache` above each of the `LFOM` functions and seeing if computation time is reduced?

[2019-02-18 23:20] oliver-leung opened #174 "Manage dependencies on other packages"
Our `Pipfile` and `setup.py` are looking kind of neglected - there are some incorrect and missing dependencies (like `onshapepy`) and the Python version (an oppressively old 3.5). We should change these dependencies for ease of development/use, and push them to #171 .

One future goal could also be implementing a virtual environment checker/setter for clients.

[2019-02-18 23:39] monroews commented on #139
I'd suggest that someone on the design team test this. This is a semester when I need help. :)

[2019-02-19 15:21] monroews commented on #134
I've added the equations used to fit the data for kinematic viscosity to the [AguaClara textbook](https://aguaclara.github.io/Textbook/Flow_Control_and_Measurement/FCM_Design.html#kinematic-viscosity-of-coagulants). These equations are for design of chemical dose controllers and provide the kinematic viscosity of coagulants prepared from granular alum or granular PACl.  The temperature dependency

[2019-02-19 22:17] oliver-leung opened #176 "Document design variable naming conventions"
There should be a page in the Sphinx wiki that talks about using [these variable abbreviations](https://docs.google.com/spreadsheets/d/1XGdhJhirmB6FaxO20lY3RMxTBhLqhd5rgwXi9Pdgivs/edit#gid=0) and the hierarchical naming order touched upon in #150.

[2019-02-19 22:27] oliver-leung opened #177 "Document development/contributing workflow"
To facilitate new members joining the AIDE Design or Research/IT teams, we should make a Sphinx wiki page on how contributing works! A few things that this page should include:

- Using issues for additions to the code
- Branching
- Good style for code (PEP 008), documentation (Google documentation of Sphinx). testing (pytest)
- Virtual environments
- Pull requests and merging with version release

[2019-02-20 01:47] oliver-leung opened #178 "Component module for component design code"
Since all of our design code modules will need a `CAD` object to store the URL to the Onshape model, as well as a `draw()` function to upload values to the model's configuration, it would be a good idea to abstract this functionality out to a `Component` class, which each design class would extend.

@ethan92429 , what do you think of this? It kinda goes against our "composition over inheritance" m

[2019-02-21 18:01] oliver-leung commented on #150
Changes have been implemented in #161 , which will merge with master soon. There are still some style changes and documentation fixes that didn't make it into the branch, so I'll have @schaki46 work on those and merge at a later time.

[2019-02-21 18:06] eak24 commented on #139
Just a note that an alternative to the caching mechanism that I implemented (which won't work with objects that take in objects - we will have these cases) would be to use a memoization package such as https://cachetools.readthedocs.io/en/stable/

[2019-02-21 18:46] oliver-leung commented on #177
We should also update `README.md` to reflect the new wiki (see #223), as well as remove any extraneous information.

The old wiki should be disabled to reduce confusion!

[2019-02-21 21:17] oliver-leung commented on #139
I'm going to be working on this in #179 , so we'll continue discussion of this feature over there.

[2019-02-21 21:17] #139 closed, assigned to eak24, oliver-leung

[2019-02-25 07:40] oliver-leung opened #180 "Standardize pytests"
Our design code `pytest`'s are looking a bit verbose and don't take advantage of `pytest` functionality - let's start using [this](https://stackoverflow.com/a/39395889) format from now on.

I'll redo some of the tests that we have currently, then we'll use that format moving forward.

[2019-02-25 07:56] oliver-leung opened #181 "Continuous Integration optimizations"
If Travis CI were my son, I'd be a proud father.

AppVeyor, on the other hand, constantly throws irrelevant errors, most of which reference a missing secret passphrase (which is pretty clearly in `appveyor.yml`). I want to see if we can resolve these extraneous errors by changing the configuration or by cleaning it up.

I also want to disable CodeCov's PR comments, since nobody actually uses them,

[2019-02-28 05:52] oliver-leung commented on #163
This issue has been resolved in #182 , and will be released with v0.0.21.

[2019-02-28 05:52] #163 closed, assigned to HannahSi

[2019-03-02 16:15] monroews opened #184 "material properties in floc_model are missing their units"
If I call floc_model.Clay.Density it returns a value of 2650.
It should return a value of 2650 kg/m3
The same is true for the other material properties.

If I apply units by
fm.Clay.Density = 2650 * u.kg/u.m**3

Then when I call fm.sep_dist_clay(C_clay, fm.Clay) it returns a value of zero which isn't correct.

The material properties must have the correct units.

[2019-03-02 20:05] oliver-leung opened #185 "max and min functions for NumPy arrays and Pint quantities"
Please answer each of these questions so that we know what to implement!

**Is your feature request related to a problem?**

There is a lot of repeated code when we want to find the maximum or minimum of multiple values that are either in a NumPy array or assigned units through Pint. The process involves stripping the units from the values, using Python's built-in `max()` function, then reassignin

[2019-03-02 20:15] sc2267 commented on #185
Currently being worked on in #186

[2019-03-02 20:15] #185 closed, assigned to sc2267

[2019-03-02 21:05] oliver-leung commented on #178
We will also want to implement [this strategy](https://stackoverflow.com/a/6307868) of easily adding multiple wrappers to our functions (both `@property` and `@cachedmethod`).

[2019-03-08 16:20] monroews opened #188 "<Summarize where the bug is occurring and what's happening>"
I'm trying to release a bug fix for aguaclara
I tested the new package on my computer
I pushed the changes and merged them.
I'm getting codecov errors even though I didn't add any code (I just made small edits)

[2019-03-08 16:38] #188 closed, assigned to nobody

[2019-03-10 19:15] HannahSi commented on #184
@monroews I apologize for the delay on resolving this issue! Elena and I are currently adding a fix to the "init" function for the different materials and making sure it is tested.

Just to clarify, was the output of your line of code supposed to be nonzero, or 0*u.kg/u.m**3?

[2019-03-10 19:39] monroews commented on #184
Given a real clay concentration the separation distance between clay must be greater than zero. Might there be another error in the equation?

[2019-03-10 20:15] HannahSi commented on #184
That makes sense. What is your C_Clay value? I ran the code below with an arbitrary concentration and obtained
[code]
Output: 9.836853510957468e-05 meter

Currently, the calculation for the separation distance is ( (density/concentration) * (pi/6*diameter^3) )^(1/3). Unfortunately I'm not familiar with floc modeling. Are you able to confirm whether this is correct?

[2019-03-10 22:50] monroews commented on #184
I believe this is correct. So proceed!

On Sun, 10 Mar 2019, 4:15 p.m. Hannah Si, <notifications@github.com> wrote:

[2019-03-11 01:20] elenapertsalis commented on #184
Thank you! This is just a note for us:

We're trying to apply a wrapper function to the init function for Material so that the correct units are automatically correctly applied to the inputs. This is our code:

[code]
When we try running the code:
[code]
We get this error: ```pint.errors.DimensionalityError: Cannot convert from 'meter' ([length]) to 'kilogram / meter ** 3' ([mass] / [length] ** 3)

[2019-03-11 03:07] HannahSi commented on #184
I think I understand the error now. I'll first rewrite the wrapper function as:
[code]
In the \_\_init\_\_ function, `diameter` is the 3rd argument, so u.wraps tries to convert `diameter`'s units to the 3rd unit in the [`args`](https://pint.readthedocs.io/en/0.9/wrapping.html) list, which is u.kg/u.m**3. If we modify `args` to be `[None, None, u.m, u.kg/u.m**3, u.kg/u.mol]`, this error no longer a

[2019-03-11 10:40] monroews commented on #184
I don't think it is necessary to convert to the "correct" units. The whole point of using pint is that users can use any units they want and they equations still work. The only reason to use the "to" function is for display purposes if a user wants to see the value with a particular set of units.

[2019-03-12 01:08] HannahSi commented on #184
I see, so to allow users to choose their units if they create their own floc_model.Material, we won't use u.wraps to enforce any units, but simply expect the user to input the correct units. Could you confirm that this all we need to change in floc_model.py? (The initializations for Clay, PACl, Alum, AlOH3, and Humic Acid all have units now.)

[code]

[2019-03-12 18:36] monroews commented on #184
Could you test a couple of the functions that use material and make sure that they work. If they work, then go ahead and merge and publish!

[2019-03-14 21:04] elenapertsalis commented on #184
Hi, for the functions in the floc_model file, do you have recommended test cases that you can give me? The following functions are examples of functions we need test cases for:
Thank you!
``@u.wraps(u.kg/u.m**3, None, False)
def dens_alum_nanocluster(coag):``
``def p(C, Cprime):``
``@u.wraps(u.m, [u.dimensionless, u.m, u.dimensionless], False)
def diam_fractal(DIM_FRACTAL, DiamInitial, NumCol):``

[2019-03-16 15:09] monroews commented on #184
Create your own test cases. Just make sure that the functions return appropriate units and that the functions that call these functions still work after you've fixed the units.

[2019-03-16 20:06] cheertsang opened #191 "Wrong units on air density in constants.py"
@HannahSi The AIR_DENSITY constant in [constants.py](https://github.com/AguaClara/aguaclara/blob/master/aguaclara/core/constants.py) should be 1.225 kg/m**3 (it's currently in kg/mm**3).

However, Monroe proposes that air density should NOT be a constant! It should be calculated from PV=nRT. Perhaps making it a function of temperature and pressure would be more useful?

[2019-03-16 21:47] oliver-leung commented on #191
Hey @cheertsang , thanks for bringing this to our attention!

It definitely makes sense to have density as a function. I suggest that we make AIR_M (air's molar mass) and R constants in physchem.py, then make the density function (in the form of d = PM/RT) which takes in T and P as parameters. AIR_M would be a default parameter, which could be changed if the user wanted to. Are there any other opt

[2019-03-18 21:44] klr227 opened #192 "Peclet number calculation is always returned as 5.0. This is for Monroe's CEE 4530 class."
Please answer each of these questions so that we can resolve the bug!

**What were you trying to do?**
I am working on the Reactor Analysis lab and am trying to run the code that Monroe has placed on the wiki page. https://github.com/monroews/CEE4530/blob/master/Examples/reactor.md.  I am specifically working with my Advection Dispersion Model and the problem is that I always get a Peclet number o

[2019-03-19 19:02] oliver-leung commented on #192
What was the Peclet number that @monroews got?

[2019-03-20 13:43] monroews commented on #192
I get The model estimate of the Peclet number was 3.464130166627788
We are running the exact same code. We are using the same version of aguaclara (23).

[2019-03-20 20:15] HannahSi commented on #191
Thanks @cheertsang for making this issue! I agree with Oliver's suggestion for the air density function. Cheer and @monroews, is this the pressure- and temperature-dependent function you're looking for?

[2019-03-20 21:12] monroews commented on #191
R is already a constant in units. We should be careful not to redefine universal constants that have already been defined.

Yes! This is the function we want.

[2019-03-20 21:46] HannahSi commented on #191
Got it, thank you for the heads up and the confirmation! I'll add this in a new release of aguaclara.

[2019-03-20 22:15] HannahSi opened #193 "Restructuring research.tube_sizing"
In the next release of the research subpackage, we'll include fixes to the missing "rev" unit (for revolutions) and the error while reading tubing_data.txt in the `research.tube_sizing` module, as well as a test file for the module. We'll also restructure `tube_sizing` as explained below:

There are several functions in the module that involve calculating unknown parameters of a reactor given the

[2019-03-21 21:25] HannahSi commented on #193
Revision of stock_qc.py, with functions outside of the two classes placed in a parent class:
[code]

[2019-03-23 21:14] elenapertsalis commented on #193
Should we test extraneous numbers such as negative numbers or absurdly large numbers?

[2019-03-23 21:26] elenapertsalis commented on #193
What is a range of reasonable numbers to expect for these functions?

[2019-03-23 21:40] HannahSi commented on #193
For these functions, we don't need to test negative or excessively large values, just those within the range of physical application (what researchers will use).

Here are some example ranges for our lab:
- For system flow rates (Q_sys), we can expect <10 mL/s.
- RPMs range between 0 and 600
- Volumes of stocks are <5 L
- System concentrations of PACl is usually <5 mg/L, system concentration of cl

[2019-03-23 21:48] elenapertsalis commented on #184
For this release, we have not yet tested the functions because we need the textbook to do this. We've tested the constructors thus far.

[2019-03-23 21:57] HannahSi commented on #184
On a different note, the UASB team said that they would like some guidance on how to create materials like Clay, PACl, etc. as we did above or how to change their properties. We should write some example code in team_resources (or the aguaclara wiki when it is working) for doing this.

[2019-03-28 23:15] elenapertsalis commented on #191
For now we are relying on .to function to check for correct units (for pressure) but we're trying to see if there's a way we can allow any unit that is a unit of pressure.

[2019-03-28 23:16] elenapertsalis commented on #193
Thank you! I will keep this in mind when testing.

[2019-03-28 23:16] HannahSi commented on #191
This change will be released soon in version 24 (see the v0.0.24 branch of this repo)!

[2019-03-28 23:17] elenapertsalis commented on #184
I agree, Hannah! We should start working on that after break.

[2019-03-28 23:19] HannahSi commented on #184
The code with the correct units will be released in version 24 (see the v0.0.24 branch). Apologies for the delay!

[2019-03-28 23:24] HannahSi commented on #193
These two modules are now fully documented and tested and ready to be published in version 24 (see branch v0.0.24)! There is example code in the module specifications that will be generated into a webpage like the one below. Our next step is to make sure that the AguaClara package website, where this webpage would appear, actually builds (currently it has a 404 Not Found error).

![Screen Shot 201

[2019-03-28 23:26] elenapertsalis commented on #193
We need to fix this a little because some of the test cases aren't passing.

[2019-03-28 23:31] #184 closed, assigned to HannahSi, elenapertsalis

[2019-04-04 16:24] HannahSi commented on #108
Reviving this issue... it looks like the wiki page wasn't building correctly because the `local-dir` configuration in the .travis.yml was set to `docs/build` instead of `docs/build/html`. (I noticed this difference with the working [`aguaclara_tutorial` repository](https://github.com/AguaClara/aguaclara_tutorial).) I changed this in release tag 0.0.24 and the website is building now!

I didn't rea

[2019-04-09 03:42] #108 closed, assigned to oliver-leung

[2019-04-09 03:48] HannahSi commented on #193
All the tests are passing now! Most were minor syntax or input type errors. The code is now ready to use in release v0.0.24. The [documentation site](https://aguaclara.github.io/aguaclara/) is also working!

[2019-04-09 03:48] #193 closed, assigned to HannahSi, elenapertsalis

[2019-04-11 14:48] monroews opened #199 "Wrong units for ConcClay in floc_model.num_clay()"
Units on num_clay function are incorrect. This points out the dangers of coercing units!
The units on concentration are mass per volume, not 1/volume as shown below!

@u.wraps(1/u.m**3, [u.kg/u.m**3, u.m], False)
def num_clay(ConcClay, material):
    """Return the number of clay particles in suspension."""
    return ConcClay / ((material.Density * np.pi * material.Diameter**3) / 6)

[2019-04-13 20:36] HannahSi commented on #199
Thank you for letting us know about this! We'll make a fix for this right away.

[2019-04-13 21:23] HannahSi commented on #199
@monroews The unit of 1/volume is actually for the output of the function. The required unit for ConcClay is the first term in the brackets, u.kg/u.m\*\*3. Did you get a specific error when calling the function?

[2019-04-13 21:27] HannahSi commented on #199
If you did get an error, it may be that the function is wrongly coercing the material parameter's units to u.m. I think its units should be ignored, since material is an object, not a quantity.

[2019-04-13 21:36] HannahSi opened #200 "Unitless number in floc_model.gamma_coag"
@WPennock brought to our attention that with the new addition of units to the materials in `aguaclara.research.floc_model.py`, the `gamma_coag()` function in `floc_model` no longer works. This seems to be because the call to `frac_vol_floc_initial()` uses a unitless 0 instead of 0*u.kg/u.m**3.

@elenapertsalis Can you add these units in the function and write tests to make sure it works with new r

[2019-04-15 01:19] elenapertsalis commented on #200
I fixed this issue by adding the proper units to the unitless 0.

[2019-04-15 12:57] monroews commented on #199
The function returns this value for a clay concentration of 5 NTU.
1.544e+10 / kilogram 1/meter3

It should return
15443606337.758038 1/meter3

The correct function should be
[code]

Note that this function should be generalized to be generic for any material and should be Particle_number_concentration. Then it can work for any material that has a particle size.  Okay... to make it completely gene

[2019-04-15 23:09] elenapertsalis commented on #200
I just have to finalize the test cases for this function.

[2019-04-16 00:11] oliver-leung opened #201 "Python/Onshape Integration"
We need to integrate Ethan's [`onshape_client`](https://github.com/onshape-public/onshape-clients) package to reach the following goals:

1. Send data from `Component` objects into Onshape Part Studio/Assembly configurations.
    - In order for someone to pass data from Python into Onshape (from a Colab notebook or their local computer), they need to create an access key and secret key for their O

[2019-04-22 17:42] oliver-leung commented on #96
We have begun implementing this according to the specifications in [this document](https://docs.google.com/document/d/1MQ-nLzbPl7HwzhcKhsGpMF1ehx-RUD-JiJ45jadse-A/edit).

[2019-04-22 20:10] HannahSi commented on #199
Hi Monroe, I'm sorry we've been caught up with preparing the Python analysis MNC and haven't gotten to work on this issue in the past week!
We found that the problem was actually with the `u.wraps` function, which was applying the units of 1/m^3 **on top of** the units of 1/kg:
[code]
To solve this, I think we will remove the `u.wraps` wrapper function and rewrite the function as:
[code]

[2019-04-22 20:16] HannahSi commented on #199
As for generalizing the function to generic materials, would this be along the lines of what you were suggesting?

[code]

[2019-04-22 20:23] monroews commented on #199
yes!

[2019-04-22 20:23] HannahSi commented on #199
Great, thank you!

[2019-04-22 20:36] HannahSi commented on #200
We'll be discarding our changes because Will found a lower level cause and solution to the problem: the `u.wraps()` wrapper functions preceding our functions are meant to
* take inputs of a certain dimension (e.g. `u.s` implies time)
* coerce them to the correct magnitude if the units are not as expected (e.g. `1 u.hr` --> `60 u.s`)
* remove the units and execute the function with unitless numbers

[2019-04-22 20:58] HannahSi commented on #199
The `num_clay()` function will be changed to `particle_number_concentration()` and have the right units in version v0.0.25.

[2019-04-22 20:58] #199 closed, assigned to HannahSi

[2019-04-22 21:01] #200 closed, assigned to HannahSi

[2019-04-30 19:05] HannahSi commented on #191
It turns out we removed the AIR_DENSITY constant in the last release but forgot to include our air_density function! @elenapertsalis is working on adding this to the next release.

[2019-05-01 18:47] elenapertsalis commented on #191
We reopened this issue because we forgot to add the function to the previous release but I've added everything that's necessary including the function, the test cases and the documentation. The files include physchem.py and test_physchem.py.

[2019-05-06 20:21] sc2267 commented on #96
Have completed writing two functions of Pipe class

[2019-05-06 20:21] sc2267 commented on #96
Did not work on this issue this week due to focus on final presentations

[2019-05-06 23:54] HannahSi opened #203 "Wrong directory separator for Windows OS in procoda_parser.py"
In `aguaclara.research.procoda_parser`, `os.path.sep` is used to create a file path of the ProCoDA data log from the directory of the file and the name of the data log:
[code]

However, not only has `os.path.sep` given the wrong path separator on a Windows computer, but we should be using `os.path.join()`:

[code]

This is more intuitive and should resolve differences in path separators.

[2019-05-07 00:10] elenapertsalis commented on #203
The old code didn't fail on my laptop but we think the changes we've made will fix the problem for other people.

[2019-06-04 18:16] HannahSi commented on #192
Resolved by running code in terminal's Python shell instead of Atom's (unclear what the Atom bug was).

[2019-06-04 18:16] #192 closed, assigned to nobody

[2019-06-04 20:27] HannahSi commented on #191
The tests did not have the correct units nor the right values for the expected outputs. They have been fixed in the last commit of branch v0.1.0.

[2019-06-06 18:54] #203 closed, assigned to HannahSi, elenapertsalis

[2019-06-06 18:54] #191 closed, assigned to HannahSi, elenapertsalis

[2019-06-12 16:55] HannahSi opened #205 "Test removal of ut.list_handler() and unit wrapper"
The unit wrapper `u.wraps()` has caused multiple issues in `aguaclara.core.headloss`, including
1. the application of units on units, due to handling units inside functions. For example,
[code]
    Output: `<Quantity(1.858 dimensionless, 'dimensionless')>`

2. errors when treating positional parameters as keyword parameters. For example, with `k_value_reduction` defined as:
[code]
    The function

[2019-06-13 19:55] HannahSi opened #206 "Removing outdated constants from aguaclara.core.constants"
The following constants will be removed from `aguaclara.core.constants`:
* GRAVITY : this is included in the units package as `u.gravity`
* WATER_DENSITY : `aguaclara.core.physchem` has a function, `density_water(temp)`, for looking this up by temperature
* WATER_NU : `aguaclara.core.physchem` has a function, `viscosity_kinematic(temp)`, for calculating this by temperature
* ATM_P : this is `u.atm

[2019-06-13 20:29] monroews commented on #206
see [AguaClara textbook](https://aguaclara.github.io/Textbook/Rapid_Mix/RM_Derivations.html?highlight=plane%20jet).

These constants relate the maximum energy dissipation rate in a jet to the kinetic energy time required for the jet to travel a distance equal to the width or diameter of the jet. These isn't an easy concept to wrap my head around. This parameter is useful for calculating maximum ve

[2019-06-14 02:05] eak24 opened #207 "Fix security alerts"
https://github.com/AguaClara/aguaclara/network/alerts

[2019-06-14 15:33] oliver-leung commented on #207
[Fixed](https://github.com/AguaClara/aguaclara/pull/208)!

[2019-06-14 15:33] #207 closed, assigned to oliver-leung, HannahSi

[2019-06-17 20:45] HannahSi commented on #206
@monroews Thank you for the reference! Just to clarify, by "kinetic energy time", do you mean kinetic energy per time required for the jet to travel such a distance? And out of curiosity, is this energy dissipation in the form of heat due to shear stress?

[2019-06-17 21:29] monroews commented on #206
Sorry! I wrote this incorrectly. And you fixed it. Good work.

This mechanical energy is converted to heat due to shear stress.

[2019-06-17 21:58] HannahSi commented on #206
That's alright, thank you for the clarification! I think I have a decent understanding of the jet ratios and energy dissipation in jets now.

[2019-06-18 18:56] #181 closed, assigned to oliver-leung

[2019-06-18 18:59] #206 closed, assigned to HannahSi

[2019-06-20 20:05] #150 closed, assigned to sc2267

[2019-06-21 18:30] HannahSi commented on #205
Monroe, Oliver, and I believe it would help both developers and users to remove the unit wrapper from the `aguaclara` package completely, given that we write stricter preconditions to our functions so that users must input the correct units (otherwise they are not guaranteed the correct results).

Before eliminating the unit wrapper, however, we'll need to make sure that the `aguaclara.core.utilit

[2019-06-21 20:02] oliver-leung commented on #205
A sidenote so that we won't forget: we currently keep `pint==0.8.1` since `pint==0.9.0` breaks functions with `@u.wraps` and unitless parameters:

[code]

`KMinor` is unitless, but `None` isn't explicitly specified in `@u.wraps`, causing an `IndexError` on `pint==0.9.0`.

When we remove `@u.wraps`, it should be safe to allow the latest version of `pint`.

[2019-06-22 16:42] HannahSi commented on #205
The `core.utility.list_handler()` wrapper does not work for the current release, due to fixing the handling of positional arguments (https://github.com/AguaClara/aguaclara/commit/d71cbd165a427f9b17451d70e1ca25be8c6d5cb4). Passing lists, tuples, or Numpy arrays to `physchem.fric_rect`, which is wrapped by the list hander, causes the error "Unexpected keyword argument HanderResult". This has been so

[2019-06-24 13:39] oliver-leung opened #211 "Sedimentor Design Code"
This issue will keep track of our progress on writing design code for the sedimentor (previously called the "sedimentation tank"), which will include the sedimentation tank and the sedimentation channel.

[2019-06-25 16:52] monroews commented on #205
I'm using aguaclara-0.1.1 in colab and  pc.headloss_fric used to be able to handle arrays. It no longer can handle arrays. So I needed to use this little code to handle the array. Perhaps this is better than maintaining the list handler? I'm not clear on the best solution!
`QGraph= np.linspace(1, max(Q_data)/min(Q_data), Qpoint)*min(Q_data)
HL_Theory = np.zeros(Qpoint)*u.cm
for i in range(0,Qpoint

[2019-06-26 15:40] monroews opened #212 "CDC is missing from the documentation"
at [the documentation website](https://aguaclara.github.io/aguaclara/design/design.html) there is no cdc. I'd like to be able to link to that documentation.

[2019-06-26 16:48] oliver-leung commented on #96
We should add functionality to determine socket depth (when placing pipes into fittings) for each pipe. It's generally nominal diameter divided by 2, but [this link](https://www.charlottepipe.com/Documents/DimensionalCatalogs/Pressure_Pipe_Fittings.pdf) should be followed as a reference.

[2019-06-27 13:49] oliver-leung commented on #211
@monroews Do you know what the H_{SedExitFree} variable marked in the photo is specifying? Could it be the freeboard?
![Annotation 2019-06-27 094857](https://user-images.githubusercontent.com/13292691/60271748-e7b43300-98c0-11e9-9760-03aadbc914a2.png)

[2019-06-27 13:54] monroews commented on #211
Can you find the code for the function W.HorizChannel and find what it
requires for inputs?

Monroe Weber-Shirk | Senior Lecturer

Phone: +1 (607) 216-8445  | mw24@cornell.edu

AguaClara Cornell | Safe Water on Tap

Cornell University | 265 Hollister Hall | Ithaca, NY 14853 |
AguaClara.cornell.edu <http://aguaclara.cee.cornell.edu/>

<http://aguaclara.cornell.edu/>

On Thu, Jun 27, 2019 at 9:50 AM

[2019-06-27 18:22] oliver-leung commented on #211
1. Flow
2. Depth (`HW.SedWeirExit - *H.SedExitFree*` goes into this)
3. Head loss
4. Length
5. Kinematic Viscosity
6. Pipe roughness (or porosity? It's asking for an epsilon)
7. 1 if manifold
8. Minor loss coefficient

[2019-06-27 18:26] monroews commented on #211
This is the upstream depth of water in the channel. The H.SedExitFree is
the vertical distance between the top of the weir that water is flowing
over into this channel and the maximum water level that we are willing to
have in this channel to ensure that there is no risk that the channel
starts influencing the water level in the sed tanks. I'd bet that
H.SedExitFree is either 5 or 10 cm.

Monroe W

[2019-06-28 19:36] oliver-leung opened #214 "Deprecate aguaclara.play in favor of standard __init__.py"
While the `aguaclara.play` module works well for a user to quickly import all of the features of the package using `from aguaclara.play import *`, it's not the most Pythonic way of doing it, especially since `__init__.py` exists and we can use it instead.

Unless there's a reason to keep `aguaclara.play` separate, I suggest we switch over to using the standard `__init__.py` method of custom import

[2019-06-28 19:37] oliver-leung commented on #212
Completing the CDC design code is one of our later tasks this summer, and once it's done, we'll put up documentation for that component.

[2019-06-28 19:39] oliver-leung commented on #178
This has been implemented and deployed in `v0.1.1`.

[2019-06-28 19:39] #178 closed, assigned to oliver-leung

[2019-06-29 19:52] eak24 commented on #214
I'm all for moving to the more sstandard __init__ file. All it takes is renaming play.py to __init__.py And just leave play.py that looks like:

[code]

That way no one has to change the code, and code that looks like `from aguaclara.play import *` can be left alone and will reference the same exact behavior.

[2019-07-01 14:20] HannahSi commented on #205
Yes, list handler does not work in the last few releases due to a change in the code last fall, but I've modified much of it in the hs49/function-wrappers branch to
1. fix the problem you might be seeing (see previous comment)
2. remove reliance on the unit wrapper (the list handler used to strip units from arguments before passing them to the function)
3. accept array arguments as positional or k

[2019-07-01 15:19] HannahSi commented on #214
I have to say I'm hesitant to continue the use of `import *` or preloaded imports (including through \_\_init\_\_.py), since it allows, or rather requires, users to use variable or module names they have not explicitly defined. This seems to be a discouraged practice and makes it more difficult for outside viewers to understand the code. It also causes confusion for those who are programming, sinc

[2019-07-01 15:40] oliver-leung commented on #211
@monroews The equations for the sed. tank's outlet manifold are very complex and involve upwards of 20 new functions just to calculate the length and number of orifices. Are there any values that we can assume, like the length being around 6m?

[2019-07-01 15:44] eak24 commented on #214
This is an excellent point! It should be balanced with the need for
students to get going fast (only importing one line as suppose to 6) and
the need to have students always use the same prefixes. The concept is that
this call sets up a default environment for students to use, and there are
excellent precedents for this technique in both sympy and numpy. Does that
click? Also, I had put some comme

[2019-07-01 16:52] monroews commented on #211
The goal is to separate the geometric constraints from the hydraulic constraints. I'm guessing most of those equations are about geometry. Is the sed tank length an expert input? If so, that sets the length of the outlet manifold. The exact length of the manifold isn't that important because wall shear based head loss is not significant.

[2019-07-02 20:53] oliver-leung commented on #214
I also think that NumPy's import structure will work well for what we're trying to achieve! Analogously to `import numpy as np`, we can set up `import aguaclara as ac` so that would dump all of `aguaclara`'s functions into the `ac` name, from which they would be called.

I've asked a few people on their experiences with using `aguaclara`, and many pain points came from not knowing which module a f

[2019-07-02 21:25] eak24 commented on #214
Whatever you do, don't break old scripts. You should keep play, and just
use the new import structure for new code. You can refactor play to in turn
reference the new behavior

On Tue, Jul 2, 2019 at 4:53 PM Oliver Leung <notifications@github.com>
wrote:

--
---
Ethan Keller
Software Engineer
Onshape <https://www.onshape.com/>
607-241-0693
---

*Find out why Onshape is the only CAD company in the

[2019-07-03 15:25] monroews commented on #214
I like the idea of having all functions available with a simple import aguaclara as ac.

[2019-07-05 14:13] HannahSi commented on #214
Sorry for the late response. I'm in favor of the NumPy import structure as well!

@ethan92429 Just to clarify, is the purpose of keeping play.py to maintain compatibility with code previously written by users? It seems that refactoring play.py to reference the new behavior would break past user code that imported from play, since its imports modules (e.g. `import physchem as pc`) instead of their

[2019-07-08 15:30] eak24 commented on #214
The key is to not break the behavior of play. If you want to add the new
import structure, leave play as is or just re-alias the newly imported
namespaces appropriately, like:

import aguaclara as ac
import ac.physchem as pc
....

On Fri, Jul 5, 2019 at 10:13 AM Hannah Si <notifications@github.com> wrote:

--
---
Ethan Keller
Software Engineer
Onshape <https://www.onshape.com/>
607-241-0693
---

*

[2019-07-08 19:11] HannahSi commented on #205
Progress so far: functions in `physchem` up to and including `viscosity_kinematic` have been updated. For each function, the updates are
* removing the unit wrapper and modifying the function to handle units internally
* naming the **required units on inputs** and **guaranteed units on outputs** in the function specification
* decorating the function with the list handler
* updating test cases in

[2019-07-09 12:10] monroews commented on #205
This is great news.

[2019-07-10 19:28] oliver-leung commented on #205
Something I noticed in `utility.list_handler()`, lines 137-142:

[code]

I think that last line should actually be `result = list(result)`

[2019-07-10 20:34] HannahSi commented on #205
You're completely right, thank you for letting me know!

[2019-07-11 16:07] oliver-leung opened #215 "Verify component designs"
As per @monroews 's suggestion, a feature that we should be adding to the design code (coming from Mathcad) is the ability to verify designs in addition to the normal testing that we have implemented. This design verification would start from the finished object's calculated values, and run calculations on those finished values to ensure that the component would work as intended.

For example, the

[2019-07-15 20:12] oliver-leung opened #217 "Fix AppVeyor build"
According to [this issue](https://github.com/appveyor/ci/issues/3029) that I opened on the AppVeyor  repo, the reason why AppVeyor never builds properly is because the build is somehow run under @HannahSi's account, but I believe that the secret was encrypted under @ethan92429's account.

Is there some way that we can switch the build to run under Ethan's account? Or better yet, could we encrypt a

[2019-07-16 14:54] HannahSi commented on #217
That's strange, I'm not sure why it's running under my account, but I definitely agree we should have it encrypted and running either under Ethan's account or a shared AguaClara account, as we did for the new Atom sync settings last semester.

@ethan92429 I can't find any way to view or update the account under which Appveyor is running. As the owner, are you able to change this? One odd thing I f

[2019-07-16 15:06] HannahSi commented on #170
We should have a function in procoda_parser for estimating the intersection of two sets (lists) of data. The following implementation worked for Ram Pump; it is based on finding the difference in the two data sets, detecting the two indices on either side of a sign change, and linearly interpolating the two data sets to find the intersection:

[code]

[2019-07-16 19:50] IlyaFinkelshteyn commented on #217
We can move AppVeyor project between AppVeyor accounts for you. We need a email request to team@appveyor.com and it should CC owners of both accounts. Or @oliver-leung can simple re-encrypt the secret under `HannahSi` AppVeyor account.

P.S. Please do not confuse AppVeyor [account](https://www.appveyor.com/docs/team-setup/#account) with GitHib one. Their names are often match, but AppVeyor account

[2019-07-16 21:00] oliver-leung commented on #211
Completed in #175

[2019-07-16 21:00] #211 closed, assigned to oliver-leung, ryan26192

[2019-07-16 21:02] oliver-leung commented on #103
The wrapper issues are being worked on in #205 and the AppVeyor issues are being worked on in #217

[2019-07-16 21:02] #103 closed, assigned to eak24, oliver-leung, fletchapin, HannahSi

[2019-07-18 14:14] oliver-leung commented on #217
Something that confuses us is that, when we open new pull requests on this repository, AppVeyor builds always fail initially ([like this one](https://ci.appveyor.com/project/HannahSi/aguaclara/builds/26075947)) since they're running under Hannah's account. But if we look away for about 30 minutes, they suddenly are succeeding under Ethan's account ([like this one](https://ci.appveyor.com/project/e

[2019-07-18 17:58] IlyaFinkelshteyn commented on #217
Your are correct, though let me say the same using a little bit more correct terminology.
Those are different **AppVeyor projects** connected to the same **GitHub repo**. Each project starts building on a new commit because when you create AppVeyor project, AppVeyor adds **GitHub webhook** to be notified. Each project sets **GitHub commit status** as it finished as long as parent **AppVeyor accoun

[2019-07-18 20:24] oliver-leung opened #222 "Water elevation calculations in design code"
**Is your feature request related to a problem?**

As proposed by @monroews, there is a need to track the elevation of water at each component within the class, both at the start and the finish. This is important for calculating the heights at which each component is built relative to the connecting geometry and concrete structure of the plant.

**What kind of a solution would you like?**

The sol

[2019-07-18 20:30] monroews commented on #222
This is exactly what we need. This feature will extend to connecting channels and pipes that are used to link processes. The connecting channels and pipes will be treated as an object that also has head loss and hence will be used by the plant class to set the heights of the upstream and downstream components.
I assume this means that each component will have deltaz as an output and somehow a clea

[2019-07-18 21:02] oliver-leung opened #223 "Update README.md"
The current `README.md` is outdated and looks very much like it did during the days of `aide_design`. I think it's a good idea for us to tailor `README.md` give a better overview of the project, as well as be a better face to the entire AguaClara project. After all, it's currently our best open-source contribution!

- There should be more robust contributing instructions that encourage the use of

[2019-07-19 15:50] oliver-leung commented on #96
@monroews Do you have a list of all of the different types of elbows and fittings that are used to connect pipes together in the plant?

[2019-07-19 15:51] oliver-leung commented on #217
Hannah and I have deleted the AppVeyor projects under our AppVeyor accounts for this GH repo, and our PR's are building correctly. Thank you very much @IlyaFinkelshteyn for your help!

[2019-07-19 15:51] #217 closed, assigned to nobody

[2019-07-19 15:53] monroews commented on #96
We use straight couplings, elbows, Tees, caps, gate valves (for drains), ball valve (for air release for filter siphon), and Fernco fittings. @tm545 may have additional items.

[2019-07-19 16:16] oliver-leung commented on #96
Tigran agrees with that list, but we just want to confirm: are there any cases in which we use non-90 degree elbows/tees, and are there any cases where we use reducing fittings?

[2019-07-19 16:20] monroews commented on #96
We don't use any non-90 degree elbows/tees.
We do use reducing fittings to add a 1/2" waste line to the sed tank sludge drains.
Also the filter siphon pipe has a Tee and then it is reduced to 1/2" for the air control ball valve.
There are lots of other small fittings associated with the CDC.

[2019-07-19 16:23] oliver-leung commented on #96
There are some fittings that have the two instances of the same nominal size, but two different socket depths. Is the longer/shorter socket depth preferred, or should we add functionality to choose between them?

[2019-07-19 16:36] monroews commented on #96
What is the source of information about these two styles of fittings? I would expect the socket depth to be standard.

[2019-07-19 16:42] oliver-leung commented on #96
We were initially using [source 1](https://www.charlottepipe.com/Documents/DimensionalCatalogs/Pressure_Pipe_Fittings.pdf), but we found [source 2](https://www.aetnaplastics.com/site_media/media/attachments/aetna_product_aetnaproduct/204/PVC%20Sch%2040%20Fittings%20Dimensions.pdf) which matched more of the pipes that were in the existing pipe database.

[2019-07-19 16:46] monroews commented on #96
Might [ASTM standards](https://compass.astm.org/EDIT/html_annot.cgi?D2466+17#s00020) be a definitive choice?

[2019-07-19 16:52] oliver-leung commented on #96
![image](https://user-images.githubusercontent.com/13292691/61551691-d1167d00-aa23-11e9-92fe-200b3a2b06f6.png)
I might not be looking in the right spot, but I don't see the socket depth here, nor a way to calculate it from the given info.

[2019-07-19 16:54] HannahSi commented on #217
That's great news, I appreciate your help as well @IlyaFinkelshteyn !

[2019-07-19 17:06] eak24 commented on #96
I've made a feature that finds appropriate fittings (of the best fitting
type given a selection) here:
https://cad.onshape.com/documents/e4ba018fc99406013300fcf2/v/4919205419ecebcd9c676065/e/1475c1f6ba9344024b53e065.
It's setup to use reference parameters, so you can plug in any pipe library
and fitting library you desire. Right now it doesn't support
reductions/expansions but it will in the near

[2019-07-19 18:39] monroews commented on #96
![image](https://user-images.githubusercontent.com/28540907/61557707-f494f400-aa32-11e9-8668-b60329bd5c52.png)

[2019-07-19 18:44] eak24 commented on #96
You could use the fitting feature here to make these fittings:
https://cad.onshape.com/documents/e4ba018fc99406013300fcf2/w/75dc8d0d95ed7b2af888d533/e/8a566d1945a46e4467b57316?configuration=List_LjfewNfcdf3Lxv%3DDefault%3BList_bvmRWGOorif9mV%3D_4%3BcustomAxes%3D%255B%255B3%252C1%252C3%255D%255D%3BfittingType%3DELBOW_22_5

On Fri, Jul 19, 2019 at 2:39 PM Monroe Weber-Shirk <notifications@github.com

[2019-07-19 18:45] eak24 commented on #96
It does the extrusions and the fittings for you. I can easily make several
different edge profiles as well. But for now, I suggest just transferring
the table over to the configuration table within that part studio

On Fri, Jul 19, 2019 at 2:43 PM Ethan Keller <ethan.keller@gmail.com> wrote:

--
---
Ethan Keller
Software Engineer
Onshape <https://www.onshape.com/>
607-241-0693
---

*Find out why O

[2019-07-22 02:16] oliver-leung opened #225 "Entrance Tank/Sedimentation Tank design interaction"
We need to ensure that the width of diffusers in the sed. tank is at least the size of the holes in the ent. tank screen (I think that's what it's called?), so that particles that bypass the screen won't end up clogging the diffusers.

[2019-07-23 14:57] HannahSi commented on #205
Progress update: functions in physchem.py have been updated up to and including `headloss()`. All the Reynolds number and friction functions have been completed.

@monroews I will try to add the Ergun head loss equation to the updated class of functions! Would you like me adapt the code in the [textbook page](https://aguaclara.github.io/Textbook/Filtration/Filtration_Theory_and_Future_Work.html?hi

[2019-07-23 15:04] monroews commented on #205
welcome to use these equations

[code]

[2019-07-23 15:24] HannahSi commented on #205
Got it, I will add the other functions to the class as well. Would you be able to explain what `Erdon` in the first three functions and `G_CS` in the last refer to?

[2019-07-23 15:26] monroews commented on #205
Reynolds number for flow through porous media
friction factor for flow through porous media
head loss for flow through porous media
Camp Stein velocity gradient for flow through porous media

[2019-07-23 15:36] HannahSi commented on #205
Thank you! I am having trouble find anything online relating the name Erdon to flow through porous media, however. Should these functions be `Re_Ergun`, `f_Ergun`, and `hf_Ergun`?

[2019-07-23 15:37] monroews commented on #205
oh my.  You are right! Please change to Ergun!

[2019-07-23 16:08] HannahSi commented on #205
Is the parameter `v_a` the superficial fluid velocity? Also, can `D_sand` be generalized to the diameter of any kind of particle?

[2019-07-23 16:14] monroews commented on #205
v_a is approach velocity or superficial fluid velocity.
D_sand can be generalized to D_(any type of granular media)

[2019-07-23 17:07] HannahSi commented on #205
Ok, thanks again for the clarifications!

[2019-07-23 20:52] oliver-leung commented on #201
I've run into a strange error which I've detailed [here](https://github.com/onshape-public/onshape-clients/issues/9), preventing me from creating a Python object from an Onshape Part Studio. Aside from that, I think that I have the process complete for authorizing Onshape in Python.

[2019-07-24 19:12] oliver-leung commented on #96
@monroews does the minor loss coefficient for a given elbow angle vary depending on the nominal diameter? According to [this page](https://www.engineeringtoolbox.com/minor-loss-coefficients-pipes-d_626.html) linked in the [textbook](https://aguaclara.github.io/Textbook/Review/Review_Fluid_Mechanics.html#minor-losses), each elbow type has the same minor loss coefficient regardless of nominal diamet

[2019-07-24 21:08] monroews commented on #96
I don't know if there is an effect of diameter if the rest of the geometry scales precisely. The biggest factor is likely the radius of curvature of the bend.

I suggest you create this pipeline feature as a bare bones version at this point and make simplifying assumptions.

[2019-07-25 19:41] oliver-leung commented on #222
Plant component design classes should be able to provide the head losses specified in [this discussion post](https://github.com/orgs/AguaClara/teams/aide-template/discussions/158).

[2019-07-29 13:42] oliver-leung commented on #201
The `docutils` version error has been resolved, so we can likely unpin it from `Pipfile`.

[2019-07-29 14:39] oliver-leung commented on #134
I will be working on implementing this soon! I will need to:
- Move kinematic viscosity functions under `physchem`
- Update pipeline design code to use PACl and Alum solution kinematic viscosities when specified

[2019-07-29 19:21] oliver-leung commented on #177
Although it makes sense from a developer's standpoint to document each individual module within the module tree (as we're doing now), we should offer varying degrees of detail for our documentation:

- A collection of examples of how to generally use `core`, `design`, and `research` functions
- API documentation that shows each function and feature in detail
- Short term code writing (e.g. using t

[2019-07-30 20:03] oliver-leung opened #226 "Pipe/Pipeline design code (v2)"
Some suggestions that I've received for new pipeline design features:

- Account for losses when a valve is open
- Manifolds
- Ideal diameter when accounting for velocity/flow
- Reducers/expanders
- Creating pipelines from strings/arrays of strings for ease of use

These aren't entirely necessary for the current state of design code (minus manifolds), but can definitely be implemented in future ve

[2019-07-31 19:51] oliver-leung opened #227 "Invalidate Flocculator design for degenerate cases"
As demonstrated by @monroews, it appears that the current `Flocculator` design code does not generate a constructible flocculator for `q > 180 * u.L / u.s`.

(TODO: insert graphs from Colab notebook)

This is because `end_water_depth` is no longer great enough to exceed the minimum H/S ratio required to flocculate properly. It was also demonstrated that, by increasing `end_water_depth`, we were ab

[2019-07-31 20:03] monroews opened #228 "DistCenter is wrong name in physchem"
DistCenter is used in several of the equations for open channel flow. This incorrectly named parameter is actually the water depth in the channel. So a more appropriate name might by simply "Depth".

[2019-08-06 13:57] monroews opened #230 "improvements to aguaclara/design/design_code_example.py"
Switch to the new import aguaclara as ac
Then you can write <class Monroe(ac.Component)>
I find the example difficult to follow. A simple realistic engineering example would be clearer.
like design a tank with a drain pipe.

[2019-08-06 15:20] monroews opened #231 "Entrance tank/flocculator hangs for flows between 55 and 60 L/s"
I was running my design challenge on flocculators for CEE 3520: safe water on tap.
I tried to design a 60 L/s entrance tank flocculator and the code hangs. I suspect that the code is switching back and forth between different numbers of channels and can't find a stable solution that includes an entrance tank. We might need to catch this error and force the number of channels to stay with the large

[2019-08-07 16:25] oliver-leung commented on #96
Implemented in #229 .

[2019-08-07 16:25] #96 closed, assigned to oliver-leung

[2019-08-07 16:26] oliver-leung commented on #176
Completed in #216 .

[2019-08-07 16:26] #176 closed, assigned to oliver-leung

[2019-08-08 19:33] oliver-leung opened #232 "Implement design code computation back-tracing"
One common pattern that I've seen within our design code logic:

1. Input a dimension guess
1. Run calculations using that guess
1. Output with a refined dimension

For example, sedimentor/sedimentation tank design language has the following logic - note the format of (inputs) => (outputs):

1. (inner tank width, inner tank length, ideal upflow velocity) => (ideal tank flow rate)
1. (ideal tank fl

[2019-08-08 20:45] oliver-leung commented on #230
I've made a [revised design code example](https://github.com/AguaClara/aguaclara/blob/design_code_template/aguaclara/design/sed_example.py) that designs a minimal sedimentor (as well as its sedimentation tanks/channel). Let me know what you think!

[2019-08-09 19:05] oliver-leung commented on #201
The error that I mentioned above (preventing me from creating a Python object) has been resolved due to an incorrect .onshape_client_config.yaml - tag me if you need to see what the corrected one is.

A discussion with @ethan92429 has revealed the following divine truths:

1. Given the URL to an Onshape element, and a dictionary containing a custom configuration of that element, we can determinist

[2019-08-11 12:36] monroews opened #233 "Entrance tank requires trash rack"
The entrance tank needs additional length to accommodate 2 trash racks that are spaced at least 15 cm apart. We also need to ensure that there is space for the inlet pipe between the trash racks and the sloped flow barrier.

There must also be construction safety factors (space between drain pipe and wall, space between drain pipe and trash rack, space around LFOM).

[2019-08-13 17:16] monroews commented on #230
Oliver,
This is a big improvement.
Create an example with this that shows how you would use it and that doesn't return values of the parameters.
It would be great if this demonstrated setting the number of sed tanks based on a max length.  This would then illustrate how a component (sed tank) influences the sedimentor.

Yeah!

[2019-08-15 20:36] monroews opened #235 "1.5 inch pipe missing from pipe database"
Please add 1.5" pipes to the pipe database (in the core functions). We need 1.5" pipe for the backwash branches in the filter.

[2019-08-20 15:55] monroews opened #237 "Maximum Flow for vertical flow flocculators"
The maximum flow for a vertical flow flocculator is...

$$Q = \frac{W_{Max}H_e}{\Pi_{HS_{Min}} } \left( \frac{2 H_e  g^2 h_e^2}{K(G\theta)^2 \nu} \right)^\frac{1}{3}$$

![image](https://user-images.githubusercontent.com/28540907/63363863-6b7b2080-c342-11e9-816d-8253d1424060.png)

I get a max flow of about 180 L/s given our current design assumptions. The flocculator code should use this equation t

[2019-08-21 12:53] monroews opened #238 "CDC revisions"
Units should not be stripped from numbers. This opens up the risk of unit errors.
CHange the coagulant viscosity equations to keep the units and to instead divide by the correct units. Thus the viscosity of PACl should be
`(1 + (2.383 * 10 ** -5) * ((ConcStock)/(u.kg/u.m**3)).to(u.dimensionless) ** 1.893) * ac.viscosity_kinematic(temp)`

Note that we force unit simplification before raising to an

[2019-08-22 17:40] monroews opened #239 "not all functions show up in the documentation"
I noticed that diam_pipe which is the most commonly used function to size pipes doesn't show up in the documentation.

[2019-09-12 14:33] monroews opened #242 "ac.round_sigs_figs doesn't show the required inputs"
I believe that the
@optional_units([0], ['num'])
decorator above this function may be preventing it from correctly displaying what the required inputs are when you type the function in an IDE. I get "ac.round_sig_figs(*args, **kwargs)" when I type the parenthesis after the function name.

[2019-09-16 05:47] HannahSi commented on #239
Resolved with release v0.1.8!

[2019-09-16 05:47] #239 closed, assigned to nobody

[2019-09-17 19:53] ryan26192 opened #244 "Delete Onshape config functions in master branch"
The onshape config functions aren't needed anymore, and cause problems when we write properties to file. These functions are found in the component class

[2019-09-20 13:46] monroews commented on #235
@HannahSi could you make this small change so that I can get the array of nominal diameters and the arrays of ID and OD for all of the pipes including 1.5". TUrns out that 1.5 inch is needed for our filter design and I'm working on that currently.

[2019-09-24 14:01] monroews opened #246 "Flocculator Channel width constraint not met"
[code]
I get a channel width of 44.88 inch even though the maximum width is 42 inches.

[2019-09-24 14:04] monroews opened #247 "Floc.serialize_properties() returns error"
`Floc = ac.Flocculator(q=120*u.L/u.s,temp=15*u.degC,ent_l=0*u.m, chan_n_parity='even', l_max=7*u.m,)`
`Floc.serialize_properties()`

When I use Floc.serialize_properties() to get all of the output from the design I get the following error.

[2019-09-24 19:42] monroews opened #248 "LFOM as subcomponent of ET returns the wrong pipe size"
I get two completely different answers depending on whether the LFOM is designed using the LFOM code or using the EntranceTank code.

`Train_q=40*u.L/u.s
w=42*u.inch
v_capture = 3*u.mm/u.s
temp= 20 * u.degC
ET=ac.EntranceTank(q=Train_q,plate_capture_vel=v_capture,floc_chan_w=w)
my_LFOM=ac.LFOM(q=Train_q,hl=20*u.cm)
print('LFOM ND',ET.lfom_nd)
print('LFOM ND',my_LFOM.pipe_nd)`

[2019-09-24 21:44] #214 closed, assigned to oliver-leung, ryan26192

[2019-09-24 21:47] HannahSi commented on #235
The 1.5" pipe has been added in release 0.1.11!

About our conversation on applying the list handler to `core.pipes`... It turns out that the version of the list handler I have been working with is **not able to handle outputs with units other than `u.dimensionless`**, so I was not able to apply the list handler to the functions in pipes. I'll add fixing this bug to #205.

[2019-09-24 21:47] #235 closed, assigned to HannahSi

[2019-09-24 21:58] HannahSi commented on #205
Currently, the list handler does not work with outputs that have units other than `u.dimensionless`. The root of the problem is that `np.array()` cannot make arrays with Pint quantities as elements. For example,

[code]
However, `np.array([1, 2, 3])*u.L` evaluates to `<Quantity([1 2 3], 'liter')>`. The list handler may need to remove units from outputs and apply them to the entire array.

[2019-09-25 12:07] monroews commented on #205
Right, but there are easy ways to get around this limitation. First create a numpy array, then multiply it by the right units. Then you can tuck elements into that array that have units!

[2019-09-26 16:30] monroews commented on #246
The algorithm also returns channels that are too narrow to be constructed. The minimum width criteria should always be met and if necessary the LENGTH of the channels should be reduced so that the width criteria can be met.

The parity criteria is also not always met. So the decision of which criteria to not follow is not being set correctly. I propose that the easiest criteria to not follow is th

[2019-10-08 19:15] monroews opened #251 "viscosity functions for coagulants should not be hidden"
The viscosity functions for PACl and Alum are given in cdc.py. Those functions are currently hidden. They should be public and the functions should explicitly include the temperature dependence.

[2019-10-21 18:15] HannahSi opened #252 "Increase coverage in procoda_parser.py"
`aguaclara.research.procoda_parser` currently has less than 80% coverage. Some of this is due to incomplete case analysis in`tests/research/test_ProCoDA_Parser.py`'s testing methods. For example, a function may be able to accept a string or an int for a certain parameter, but only the code dealing with an int is tested. We should add test cases so that the functions are completely covered. Coverag

[2019-10-21 19:09] HannahSi commented on #205
Thank you @monroews for your suggestion! I'm having some trouble, however, with retaining units after `numpy.append()` and `numpy.vstack()`, which I want to use to insert numbers or arrays with units into higher dimension arrays. For example,
[code]
Would you know of a way to keep units on the arrays? If there isn't an easy solution, we can also work with a list until the very end of the function,

[2019-10-22 01:45] alicezha0 commented on #252
Added test cases for:
- column_of_data
- day_fraction
- time_column_index

[2019-10-22 13:46] monroews commented on #205
I don't know how to do this. It seems conceptually that this is the same problem that we had with elements that had units. The first step was to create an array with the right units. So perhaps the approach here would be to create an array that has the correct units and insert the arrays.

Another approach is
`np.vstack((a.magnitude, b.magnitude))*a.units`

[2019-10-28 17:24] alicezha0 commented on #252
Added test case for:
- data_from_dates

Fixed specifications for:
- column_start_to_end method in procoda_parser.py file

[2019-10-28 18:42] HannahSi commented on #205
I'm sorry for the late reply! Yes, it is a similar problem. `np.vstack((a.magnitude, b.magnitude))*a.units` is great for two arrays, but because the list handler must also be able to append scalar values to an array, and I would like to be able to append scalars or arrays to an empty array, I'll use the .append() function for lists for simplicity.

[2019-10-31 03:50] HannahSi commented on #205
Progress update: functions in `physchem` have been updated up to and including `flow_swamee()`.

Aka since the last update, the rest of the head loss functions, the orifice functions, and 3 of the flow rate functions have been updated to have more detailed documentation, no unit wrapper, and the list handler as a working function wrapper.

[2019-11-03 18:27] alicezha0 commented on #252
Added test case for:
- column_start_to_end

[2019-11-05 13:12] monroews opened #253 "ProCoDA parser"
I wanted to try ProCoDA parser to make sure I understood how it worked.
Here are the issues I encountered.

1) The format for the dates isn't clear. The documentation says "M-DD-YYYY". But the actual format appears to be [MM-DD-YYYY, MM-DD-YYYY]. Or maybe all of these options work???
2) I changed the data log to be tsv. I failed to convert the state log to tsv. I will make that change now!
3) I ca

[2019-11-05 13:47] monroews commented on #253
The problem appears to be the space in the file name. I've created a new executable for ProCoDA that replaces the space with _. That  change will require a change in any parser code that assembles file names from dates.

I couldn't find parser code to display the header of the data file. That would be a useful helper function.

Is there an example file showing how the ProCoDA parser can be used?

[2019-11-05 14:03] monroews commented on #253
I was able to get
`ac.research.procoda_parser.column_of_data(path, start, column, end=None, units='')`

to work correctly using a url to a file on github. I think the remaining issue is simple replacing the space with "_" when assembling data file names and state file names from dates.

[2019-11-08 04:02] HannahSi commented on #205
Progress update: the rest of the flow rate functions, the diameter functions, the weir functions, and 2 of the porous media functions have been updated and tested. This means only `f_Ergun`, `headloss_Ergun`, and `G_CS_Ergun` are left, along with several functions recently added by AIDE for sedimentation and pipeline code.

Since there was some inconsistency in the naming of functions and paramete

[2019-11-11 19:45] alicezha0 commented on #252
Added test cases for:
- plot_columns
- iplot_columns
which test figures

[2019-11-12 04:21] alicezha0 commented on #252
Need to figure out why the CI is failing with Appveyor

[2019-11-13 22:00] alicezha0 commented on #252
After adding option to change return unit (type time) in column_of_time, added test cases to test for new functionality

[2019-11-18 19:49] alicezha0 commented on #253
For question 1:
- We wrote "M-D-YYYY" because for single digit months, there are no leading zeros. Is the single M misleading? Should we specify double MM?
- We are accepting both a single string date or an array of string dates. This is what we have for the specification for one of the functions:
    :param dates: A single date or list of dates, formatted "M-D-YYYY"
    :type dates: string or str

[2019-11-18 19:56] alicezha0 commented on #253
To fix the path issue:
- get the path all the way to folder (raw)
- append the file name to the end of the url generated from before

[2019-11-18 20:33] monroews commented on #253
I think I was confused about what was causing the file read errors. So I believe your date format is fine.

[2019-11-20 21:23] alicezha0 commented on #252
- Solved issue with CI failing with Appveyor through adding some import statements
- Work on procoda_parser continues with issue #253; pull request will occur after that issue is closed

[2019-11-20 21:23] #252 closed, assigned to alicezha0

[2019-11-21 05:55] HannahSi commented on #205
Updates:
* Naming conventions for functions and parameters have been finalized for most of `physchem`!
* I will ask to meet with AIDE to discuss naming, documentation, and testing for the sedimentation and pipeline functions.
* I'll also need to troubleshoot a few tests that are failing in other modules due to referring to updated functions in `physchem`.

[2019-11-25 18:32] alicezha0 commented on #253
@monroews For the naming conventions of datalog and statelog files on the local computer, should they be in the style of urls, so they match? For example, should it be datalog_date.tsv vs what it is right now, which is datalog date.tsv?

[2019-11-25 19:24] monroews commented on #253
The file naming convention for the latest release of ProCoDA is
statelog_11-25-2019.tsv
datalog_11-25-2019.tsv
The student teams haven't installed this version of ProCoDA yet.

[2019-12-14 18:11] monroews opened #255 "upgrade to newer matplotlib"
When we pip install aguaclara using colab we get the following errors.

We seem to be using an old version of matplot lib. Why not update that to the version used on colab?

Collecting aguaclara
  Downloading https://files.pythonhosted.org/packages/b3/b0/b8a7f63a63b37fb9259b344169ec380d0be193c12c3263dc50002e6a0724/aguaclara-0.1.13.tar.gz (85kB)
     |████████████████████████████████| 92kB 2.9MB/s

[2019-12-16 15:19] jillfoley19 opened #256 "max dose of coagulant in cdc code is too high"
In the chemical dose controller code [CDC](https://github.com/AguaClara/aguaclara/blob/master/aguaclara/design/cdc.py), the max coagulant dose is currently 2 g/L which is too high for this system. The max dose should be set to 20 or 40 mg/L which would be more realistic.

**What software are you using?**
macOS X Google Colab

[2019-12-18 00:08] jillfoley19 opened #257 "Adding in a Reynold's Number constraint to the CDC class code"
Please answer each of these questions so that we can resolve the bug!

**What were you trying to do?**
In the CDC class code, there is not a constraint for the Reynold's Number through the system. Because of this, the code is allowing for turbulent flows through the coagulant dosing tubes which violates the linear relationship between head loss and flow.

We have come up with code that can be adde

[2019-12-19 21:01] monroews opened #258 "ac.ceil_nearest returns the smallest value when the largest value isn't large enough!"
This function should return an error if the value that is being rounded up is larger than the available range. It currently returns the smallest number in the array if the value that is being rounded up is larger than the largest value.

[2020-01-02 16:43] monroews opened #259 "Add documentation strings to all functions<Summarize the feature and how it should work>"
The documentation string at the beginning of each function needs to include the function inputs. This is because it is this documentation that pops up in Colab and Colab no longer shows the function call with the list of inputs. See Numpy for an [example](https://numpy.org/devdocs/reference/generated/numpy.arange.html#numpy.arange) of a well documented function with defined inputs.

I suggest goin

[2020-01-24 07:07] WPennock opened #261 "Encouraging doctesting"
Since the tutorial says that `doctest` should be used for all coding by AguaClara subteams, including `import doctest` in this might help set the expectation that doctesting is essential.

[2020-01-25 21:08] HannahSi commented on #228
Resolved in release v0.1.15!

[2020-01-25 21:08] #228 closed, assigned to nobody

[2020-01-26 01:57] HannahSi commented on #255
Resolved in release v0.1.16!

[2020-01-26 01:57] #255 closed, assigned to nobody

[2020-01-26 04:24] #205 closed, assigned to HannahSi

[2020-02-07 20:09] monroews opened #263 "Sed tank inlet manifold design is incorrect"
The sed tank has this piece of code
`@property
    def diffuser_hl(self):
        """The headloss of the diffuser."""
        return self.inlet_man_hl / self.diffuser_n`

That is wrong on so many levels. The head loss through the diffusers does not get multiplied to get the total head loss.

The head loss of the diffuser should be calculated based on the opening size of the port and the velocity t

[2020-02-15 06:00] oliver-leung opened #265 "Replace Appveyor/Travis with GitHub Actions"
Currently, we use both Appveyor and Travis to test the package against Windows and macOS/Linux environments, respectively. However, due to the move to Google Colab, which I believe runs on Linux, I feel that it's no longer necessary to have to use both services for continuous integration.

Furthermore, with GitHub releasing their new Actions service, which has the ability to test against any numbe

[2020-02-15 21:28] alicezha0 commented on #170
We need to input this functionality into procoda_parser. After inputting this method, we need to test it out and document it.

[2020-02-17 01:19] HannahSi commented on #261
Hi William, by tutorial, do you mean [this AguaClara Tutorial page](https://aguaclara.github.io/aguaclara_tutorial/python/good-coding-practices.html)? And would you be able clarify where it would be helpful to include `import doctest`?

[2020-02-18 15:11] WPennock commented on #261
Hi, Hannah; I'm sorry that was unclear. What I meant was that it could perhaps be included in `aguaclara.play` so that the `doctest` package would be loaded by default for most AguaClara coding projects.

[2020-02-27 08:16] oliver-leung commented on #261
I feel that it might not be necessary to include `import doctest` in our `__init__.py` file (this has replaced `aguaclara.play` in that users now run `import aguaclara as ac` to import these functions), but we can consider adding it as an "install_requires" package in `setup.py`.

[2020-02-28 18:03] monroews opened #266 "ac.E_Advective_Dispersion undefined at t=0"
This function has two undefined terms when t=0. The result is that for t=0 it returns a NAN. It really should return the value of 0 for that case. Could you use a case statement to handle that case?

[2020-03-02 21:05] dc854 opened #267 "headloss_kozeny needs to match headloss_ergun parameters"
headloss_kozeny in core.physchem has set default None values as arguments, but want to remove default arguments and have them match headloss_ergun in core.physchem.

[2020-04-22 17:57] #174 closed, assigned to oliver-leung

[2020-04-26 22:12] #267 closed, assigned to alicezha0, dc854

[2020-06-09 15:23] monroews opened #271 "link to old version of pint"
The install requirements currently link to an old version of pint. Is there a reason not to use the current version of Pint and thus speed up the install on Colab? In Colab it has to uninstall Pint 0.12 to revert to the old version of Pint.

Found existing installation: Pint 0.12
    Uninstalling Pint-0.12:
      Successfully uninstalled Pint-0.12
Successfully installed aguaclara-0.2.1 pint-0.8.1

[2020-09-08 20:51] monroews commented on #248
I'd suggest eliminating the multilevel design (Flocculator with Entrance tank with LFOM) in python and instead just make sure that we have great code for designing each individual component.

[2020-09-08 20:54] monroews opened #278 "Design Check functions"
We would like functions that would take the dimensions from the Onshape design and calculate the expert inputs. For example, given the baffle spacing, depth, channel width, channel length, number of channels for the flocculator calculate the following.

- Gtheta
- G
- Head loss
- theta

This way we can prove that the Onshape design is in spec.
We'd want similar functions for each unit process.

[2020-09-15 14:57] HannahSi commented on #253
Currently, the `get_data_by_state` and `get_data_by_time` functions in `procoda_parser.py` can only accept folder paths that combine with filenames of the form "datalog_[date].tsv" or "statelog_[date].tsv" (and a slash in between, if necessary) to yield a real URL or local path. They should be updated to also accept "naive" Github URLs for the folder path by converting them to "intelligent" ones,

[2020-09-15 15:15] HannahSi commented on #271
The required Pint version was set to 0.8.1 to solve issue #155. When I briefly tried testing the package with version 0.12, I didn't find the same errors as before, but a few other tests did fail. We'll look into what it takes to make this upgrade.

[2020-09-19 15:58] ariannacurillo commented on #170
Hello @monroews,
We have two question in regards to implementing an intersection function that we would like your opinion on!

1) Would it be best to have two separate functions: one that assumes two lines have the same x coordinates and can therefore return the array indexes in which the intersections occur, and the other allowing a separate list of x coordinates for each line?

2) Should we cons

[2020-09-19 16:16] HannahSi opened #279 "ID to OD function and standardized names in pipes.py"
Several updates can be made to `core/pipes.py`:

1. **A class and/or static method should be defined to convert ID and SDR to the minimum available OD.** A class could ask for SDR and minimum ID in the constructor and include methods for available ID, ND, and OD.  A static method could calculate OD from ID and SDR and use the existing `od_available(od_guess)` method, or calculate ND using `ND_SDR_

[2020-09-19 22:24] HannahSi commented on #253
I just pushed code to the test-procoda-parser branch that resolves indexing bugs in `get_data_by_state`, as well as adds compatibility for "naive" github.com URLs! Next time, I'll add the few lines of code to `get_data_by_time` as well.

Before making a pull request, I'd also like to optimize the implementation for state-reading functions, such `get_data_by_state`, to use more of the efficient ind

[2020-09-20 11:06] monroews commented on #170
Good day,

Given that ProCoDA is collecting all of this data it will have the same
data interval and time stamps.
The big challenge is handling data that is noisy. I wouldn't worry about
the exact intersection case because that won't occur with noisy data.

Monroe Weber-Shirk | he/him/his

Phone: +1 (607) 216-8445  | monroews@gmail.com  |

On Sat, Sep 19, 2020 at 11:58 AM Arianna Curillo <notifica

[2020-09-22 16:11] ariannacurillo commented on #170
Thank you for getting back to us @monroews !
We forgot to mention that two lines could also intersect without a sign change if they are equal, which could happen if both lines have hit an instrument's limit of detection (e.g. 0, 1000 NTU). Do you think it would worth giving an option to the user to include or exclude zero-sign change intersections?

[2020-09-22 16:56] monroews commented on #170
Either way is fine. I don't think that the intersection without crossing will be a case that users will need. Note that if the instruments are out of range that the data isn't very useful in any case.

[2020-09-22 17:23] HannahSi commented on #170
That is a good point. Thank you for your advice, Monroe!

[2020-09-26 16:07] ariannacurillo commented on #170
I have finished implementing and testing the intersection function, and pushed code under my branch asc327/procode_parser.py that has these updates, but some tests cases are failing in the travis CI and appveyor checks.

[2020-10-09 17:23] fletchapin opened #281 "coag_tube_l throws a unit error instead of returning a length"
Please answer each of these questions so that we can resolve the bug!

**What were you trying to do?**

[code]

**What was supposed to happen?**
I was using `aguaclara.design.cdc` to calculate the length of tube needed, but got a unit error when running the function.

**What actually happened?**
![image](https://user-images.githubusercontent.com/17417538/95613049-31268400-0a19-11eb-95fd-ff24893219

[2020-10-10 14:35] annabel48lin commented on #279
@monroews   I'm wondering how users would normally use pipes.py. Right now, we are considering making a Pipe class whose constructor has optional fields so that users can perform calculations quicker. 2 possibilities:

SDR is required
- similar to current implementation
- will users ever want to calculate SDR from other variables?
- will users be annoyed if they can't make a schedule 40 pipe if th

[2020-10-11 19:33] monroews commented on #279
the common use case is use hydraulic equations to calculate a minimum ID
use structural constraints, product availability, or max pressure to set the SDR
given minID and SDR, find the corresponding ND and the actual ID.
Take the actual ID to find actual hydraulic performance.

I don't see a need for a user to calculate and SDR EXCEPT you could add the case for converting a max pressure into an SDR

[2020-10-13 16:03] annabel48lin commented on #279
@monroews Thank you! Can you clarify on "the python code would find the pipe ND and schedule (40, 80, 120, 160)" and how you would find the schedule for a pipe (from minID & SDR or from pressure)? Also, does this refer to existing methods like [physchem.pipe_ID](https://github.com/AguaClara/aguaclara/blob/a28dd036115f98e3a2b0b74c1b3d41b4c46ca72a/aguaclara/core/physchem.py#L1535-L1550) and [Pipe.id

[2020-10-13 17:20] monroews commented on #279
I believe this would be new functionality because SDR is not constant for schedule 40 etc pipe. So given minimum ID and SDR you would search through the arrays of schedule 40 etc to find the pipe that meets that criteria. Note that you would need to calculate the SDR for each pipe in the arrays of schedule 40 etc. SDR is OD/wall thickness.

[2020-10-13 21:38] HannahSi commented on #253
The function `read_state`, `average_state`, and `perform_function_on_state` have now been simplified to use `get_data_by_state`!

I realized `get_data_by_time` doesn't actually apply the units given in the arguments, so I'll be adding that functionality and an option for getting elapsed time (as opposed to real time of day) in the time column.

[2020-10-23 21:14] annabel48lin commented on #279
Work plan:
	- find PVC schedule chart and update database
	- work on SDR pipes
		○ include ID_sched_ for all schedules (use enums?)
		○ let users specify what set of schedules or NDs they want to use
	- create schedule pipes
		○ client specifies maxSDR, minID. Find schedule and ND that satisfies this.
	- convert between SDR and schedule using SDR and ID

[2020-11-03 17:53] HannahSi commented on #253
The elapsed time feature have been implemented and tested. The `test-procoda-parser` branch has been merged with the branch `asc327/procoda_parser.py`, which is addressing issue #170. Once the failing tests are resolved in that branch, we'll make a release with the combined updates to `procoda_parser`.

[2020-11-07 18:12] HannahSi commented on #265
[peaceiris/actions-gh-pages](https://github.com/peaceiris/actions-gh-pages) might be a helpful third party action for deploying Sphinx documentation! The readme provides pretty thorough documentation. A workflow is currently being tested on the `aguaclara_tutorial` repository.

UPDATE: [the workflow in `aguaclara_tutorial`](https://github.com/AguaClara/aguaclara_tutorial/blob/master/.github/workfl

[2020-11-10 16:39] #170 closed, assigned to HannahSi, ariannacurillo

[2020-11-10 16:40] #253 closed, assigned to HannahSi, ariannacurillo

[2020-11-10 20:34] HannahSi commented on #271
The failing tests turned to be caused by round off errors. I believe I've fixed all of them on branch `hs649/upgrade-pint`.

Note to self: remember to update pint versions in Pipfile.lock.

[2020-11-14 16:01] HannahSi commented on #271
The Pint version has been upgraded to the latest version (0.16.1) on my branch. A few precision-related errors remain in the doctests of the `aguaclara.design` modules. For example, this doctest at the beginning of `sed_tank.py`:

[code]
results in the following error ([see outputs in Travis build](https://travis-ci.org/github/AguaClara/aguaclara/builds/743511541#L490-L499)) while running `make do

[2020-11-15 19:03] ryan26192 commented on #271
I think modifying the code to prevent round off errrors with the round function makes a lot of sense, if we keep a normal amount of sig figs (3,4, or 5) it would probably be free from errors surrounding pint

[2020-11-15 21:12] HannahSi commented on #271
Sounds good, thanks for your input! I'll use the round function in the doctests.

[2020-11-17 14:31] monroews opened #285 "temperature of 0 C should be allowed for viscosity calculations"
If I send 0 * u.degC to the viscosity funcions I get an error because the code expects >0 and should allow >=0.

/usr/local/lib/python3.6/dist-packages/aguaclara/core/physchem.py in viscosity_dynamic_water(Temperature)
    114     :rtype: u.kg/(u.m*u.s)
    115     """
--> 116     ut.check_range([Temperature.magnitude, ">0", "Temperature in Kelvin"])
    117     return 2.414 * (10**-5) * u.kg/(u.m

[2020-11-17 19:46] #271 closed, assigned to HannahSi

[2020-11-28 17:22] HannahSi commented on #265
The `pythonpackage.yml` workflow on the gh-actions branch now successfully runs Pytests on a push to any branch! Next steps are to transfer the rest of the commands in the `.travis.yml` to Github Actions workflows, including
* running doctests
* running Codecov checks
* deploying tagged releases to PyPi

[2020-12-04 22:47] HannahSi commented on #251
@monroews Would this description (copied from cdc.py) suffice for explaining the temperature dependence?

        based on the effect on water and that there is no confounding effect from
        the coagulant.

@oliver-leung Is showing the functions just a matter of removing the underscores in front of `_alum_nu` and `_pacl_nu`? Also, should the CDC module be included in the package Sphinx docume

[2020-12-05 06:46] oliver-leung commented on #251
Yup, you would just need to remove the underscores from the function names. I don't think they're truly hidden, though - adding an underscore to the front is just a convention to tell other programmers that they probably shouldn't use the function externally. More on that in [PEP 008](https://pep8.org/#descriptive-naming-styles).

If we want to make these functions public, I think we should keep C

[2020-12-05 10:12] monroews commented on #251
The description is fine.

[2020-12-05 17:56] HannahSi commented on #251
Thanks @monroews and @oliver-leung!

I think the situation in Colab is in-between: functions beginning with underscores are hidden from autocompletions in Colab unless you actually type the underscore. As for Sphinx docs, CDC is not currently included, so I'll add it in.

[2020-12-05 22:20] HannahSi commented on #266
This is finished on branch `hs649/small-patches`! We'll publish this patch along with a few others in the coming releases.

[2020-12-07 23:15] oliver-leung commented on #251
Ah I see - I wasn't aware of that feature!

[2021-01-17 00:03] HannahSi commented on #258
I'm rewriting `utility.ceil_nearest` and `utility.floor_nearest` to raise errors when the value is larger or smaller than the available range, respectively. The update causes the `cdc.coag_stock_vol` method to raise the `utility.ceil_nearest` error for a CDC object that uses the default CDC class properties. Here's some of the class:

[code]

@oliver-leung @ryan26192 Do you know what the differenc

[2021-01-17 14:39] monroews commented on #258
self.coag_dose_conc_max  should be something like 100 mg/L

self.coag_stock_conc_est should be something like 150 g/L.

Watch those units! There is a differenced of more than a factor of 1000.

[2021-01-17 19:55] HannahSi commented on #258
Thanks Monroe! That makes much more sense.

For documentation purposes, does `coag_q_max_est` return the estimated maximum permissible flow rate of the coagulant stock, whereas the method `coag_q_max` returns the actual maximum permissible flow rate of the coagulant stock? It looks like  `coag_q_max` uses a coagulant stock concentration that's based on the number of sacks of coagulant used.

[2021-01-17 20:09] HannahSi commented on #212
Continued in #251

[2021-01-17 20:09] #212 closed, assigned to oliver-leung, ryan26192

[2021-01-17 20:11] HannahSi commented on #256
This issue is being addressed in #258.

[2021-01-17 20:11] #256 closed, assigned to nobody

[2021-01-17 20:14] monroews commented on #258
Your descriptions of the variables are correct. _est is always used as a preliminary estimate in the design process. I don't think that we should be calculating the coagulant stock concentration based on the number of sacks of coagulant used. I think we should simply specify what we want the stock concentration to be. That would simplify this code.

[2021-01-17 20:17] HannahSi commented on #251
Hi @monroews, I found two functions in `cdc.py` that seem to involve numbers of coagulant tubes. Would you know what the best description would be for each one?

[code]

[2021-01-17 20:25] HannahSi commented on #258
Thanks for confirming. It looks like the method for calculating the number of coagulant sacks assumes plant operators use entire sacks at a time, not fractions of sacks. Do you think this is a reasonable assumption, or would it still be better for the user to define an exact coagulant stock concentration?

[2021-01-17 20:31] monroews commented on #251
there is always a spare tube for maintenance. active is what are in use. coag_tubes_n includes the spare.

[2021-01-17 20:32] monroews commented on #258
IT would be better for the user to define an exact stock concentration. We have to think of algorithms that will work over a wide range of plant flow rates and sacks won't  be a good unit for small plants.

[2021-01-17 20:36] HannahSi commented on #258
Sounds good, thanks again for your input!

[2021-01-21 01:50] #251 closed, assigned to HannahSi

[2021-01-21 01:50] #258 closed, assigned to nobody

[2021-01-21 01:50] #266 closed, assigned to nobody

[2021-01-21 01:50] #285 closed, assigned to nobody

[2021-01-21 03:34] HannahSi commented on #281
Resolved in release 0.2.10!

[2021-01-21 03:34] #281 closed, assigned to nobody

[2021-02-02 21:25] #265 closed, assigned to HannahSi, ariannacurillo

[2021-02-09 19:49] #177 closed, assigned to HannahSi

[2021-02-09 19:49] #223 closed, assigned to oliver-leung, HannahSi

[2021-02-10 17:12] HannahSi opened #294 "Documentation Updates"
Below are some updates and improvements that can be made to the [aguaclara documentation site](https://aguaclara.github.io/aguaclara/):

- [ ] Replace "View Page Source" in the top right of every page with an "Edit on Github" link that leads to this repo. See this [thread](https://stackoverflow.com/questions/62904172/how-do-i-replace-view-page-source-with-edit-on-github-links-in-sphinx-rtd-th) for

[2021-02-10 17:28] HannahSi opened #295 "Enforce code style with flake8 and black"
The `aguaclara` package should adopt checks and enforcement for code style. [`flake8`](https://flake8.pycqa.org/en/latest/) can be used as a linter, and [`black`](https://flake8.pycqa.org/en/latest/)  as an automatic code formatter. These programs can be run in Github Actions, e.g. in the Build workflow. See the [workflows in the `microscope_automation` project](https://github.com/aics-int/microsc

[2021-02-20 15:10] annabel48lin commented on #294
- [x] Typo in [developer guide](https://aguaclara.github.io/aguaclara/guide-dev.html) in Sphinx Documentation - Automated Documentation: "correst RST"
- [ ] For the testing section, it would be helpful to add tag -s to display anything that you print (for checking values, etc while debugging)

[2021-02-26 16:22] HannahSi commented on #294
- [x] Make the note "For more guidance on using Git in the command line, see the [AguaClara Tutorial Wiki](https://aguaclara.github.io/aguaclara_tutorial/git-and-github/git-in-the-command-line.html)" or the link in the note easier to notice/find (e.g. it could go in the Setting Up Your Local Environment section)
- [ ] Maybe add guidance on using Github Desktop for git commands that aren't obvious

[2021-03-15 01:49] mc2259 opened #296 "Semester report"
Please answer each of these questions so that we know what to implement!

**Is your feature request related to a problem?**

A clear and concise description of what the problem is. E.g. I'm always frustrated when [...]

**What kind of a solution would you like?**

A clear and concise description of what you want to happen.

**What alternatives have you considered?**

A clear and concise descriptio

[2021-03-20 15:42] annabel48lin commented on #294
- [x] Replace links in the tutorial to the colab links to the ones that I have access to in the drive
- [x] Add links to the API in colab tutorials to reinforce the idea of checking the API for methods
- [x] Update link to Linear Regression example of [Data Analysis](https://aguaclara.github.io/aguaclara_tutorial/python/data-analysis.html#) (is broken right now, [file location here](https://github

[2021-03-23 18:44] #279 closed, assigned to HannahSi, annabel48lin

[2021-03-23 19:58] annabel48lin commented on #294
- [x] typo in [python packages tutorial - sig figs](https://aguaclara.github.io/aguaclara_tutorial/python/python-packages.html#sig-figs) "set_fig_figs(n)"

[2021-04-04 16:28] ariannacurillo opened #302 "User guide"
Please answer each of these questions so that we know what to implement!

**Is your feature request related to a problem?**

The problem is that people still feel confusion and have questions about how to work with the aguaclara package and would like more guidance.

**What kind of a solution would you like?**

Create a user guide to further clarify any confusions users are having with working wit

[2021-04-10 15:34] annabel48lin opened #303 "ProCoDA data smoothing"
From Kevin S:

**Is your feature request related to a problem?**

- there are ProCoDA read errors (either extremely large or small numbers)
- data is too high resolution -- only need a few points

**What kind of a solution would you like?**

Want a method to smooth multiple columns with one call and the same parameter, and also remove faulty values before smoothing.

**What alternatives have you c

[2021-04-17 16:32] annabel48lin commented on #294
add section for ac tutorial: how to look for / read documentation

[2021-05-02 15:35] annabel48lin opened #308 "Fix errors and warnings from flake8 and add to workflow"
Check the code using this command: pipenv run flake8 aguaclara --count --verbose --show-source --statistics
and fix the errors and warnings

Then, uncomment the code in `.github/workflows/build.yml` to add flake8 to the workflow.

See [flake8](https://flake8.pycqa.org/en/latest/) documentation and the [microscope_automation](https://github.com/aics-int/microscope_automation/tree/master/.github/wor

[2022-02-28 00:58] HannahSi commented on #294
Change these lines:
https://github.com/AguaClara/aguaclara/blob/cc40815dfed5c4043daede0aabb23a1c13f6dca1/docs/source/conf.py#L27-L28
to something like this (see example from https://github.com/pythonarcade/arcade/blob/maintenance/doc/conf.py):
[code]
so that the version number on our documentation site says "latest" or a number instead of "EXPERIMENTAL"

[2022-03-29 20:42] Henry262799 commented on #242
Is this still an issue? I just tried typing the function you specified and it showed me that we need to give a float that we wanted to apply sig figs to and the second argument is how many sig figs we wanted.

[2022-04-05 23:17] #134 closed

[2022-04-15 22:24] #296 closed, assigned to nobody

[2022-04-15 22:25] Henry262799 commented on #278
The design function are deprecated

[2022-04-15 22:25] #278 closed, assigned to nobody

[2022-04-15 22:26] Henry262799 commented on #263
The design functions are deprecated

[2022-04-15 22:26] #263 closed, assigned to nobody

[2022-04-15 22:28] Henry262799 commented on #257
The design functions are deprecated

[2022-04-15 22:28] #257 closed, assigned to nobody

[2022-04-15 22:29] Henry262799 commented on #248
The design functions are deprecated

[2022-04-15 22:29] #248 closed, assigned to nobody

[2022-04-15 22:29] Henry262799 commented on #247
The design functions are deprecated

[2022-04-15 22:29] #247 closed, assigned to nobody

[2022-04-15 22:29] Henry262799 commented on #246
The design functions are deprecated

[2022-04-15 22:29] #246 closed, assigned to nobody

[2022-04-15 22:31] Henry262799 commented on #242
Fixed.

[2022-04-15 22:31] #242 closed, assigned to nobody

[2022-04-15 22:31] Henry262799 commented on #238
The design functions are deprecated

[2022-04-15 22:31] #238 closed, assigned to nobody

[2022-04-15 22:31] Henry262799 commented on #237
The design functions are deprecated

[2022-04-15 22:31] #237 closed, assigned to nobody

[2022-04-15 22:31] Henry262799 commented on #233
The design functions are deprecated

[2022-04-15 22:31] #233 closed, assigned to nobody

[2022-04-15 22:32] Henry262799 commented on #232
The design functions are deprecated

[2022-04-15 22:32] #232 closed, assigned to nobody

[2022-04-15 22:32] Henry262799 commented on #231
The design functions are deprecated

[2022-04-15 22:32] #231 closed, assigned to nobody

[2022-04-15 22:32] Henry262799 commented on #230
The design functions are deprecated

[2022-04-15 22:32] #230 closed, assigned to nobody

[2022-04-15 22:33] Henry262799 commented on #227
The design functions are deprecated

[2022-04-15 22:33] #227 closed, assigned to nobody

[2022-04-15 22:33] Henry262799 commented on #226
The design functions are deprecated

[2022-04-15 22:33] #226 closed, assigned to nobody

[2022-04-15 22:33] Henry262799 commented on #225
The design functions are deprecated

[2022-04-15 22:33] #225 closed, assigned to nobody

[2022-04-15 22:34] Henry262799 commented on #222
The design functions are deprecated

[2022-04-15 22:34] #222 closed, assigned to nobody

[2022-04-15 22:34] Henry262799 commented on #215
The design functions are deprecated

[2022-04-15 22:34] #215 closed, assigned to nobody

[2022-04-15 22:36] Henry262799 commented on #180
The design functions are deprecated

[2022-04-15 22:36] #180 closed, assigned to oliver-leung

[2022-04-16 22:20] WPennock opened #321 "Array Multiplication & Division in `pc.re_pipe`"
I have been inputting 8-element long arrays for diameter and flow rate into `pc.re_pipe`. When I do this, I get an (8, 8, 1) matrix. If I then switch from a single value of kinematic viscosity to 8, I get an (8, 8, 8) matrix. I can't figure out what's going wrong, since when I write out the operation that is written in the code for `pc.re_pipe`, I get a single (8,) array. This phenomenon throws of

[2022-05-06 22:50] HannahSi commented on #321
Hi @WPennock! Apologies for the late response to your issue. What you're seeing is the result of a function with the `utility.list_handler()` decorator above it (or, in the source code, `@ut.list_handler()`). This decorator was added to many functions in the `aguaclara` package to emulate NumPy functions that can either take in scalar inputs and produce scalar outputs or take in vector inputs and